<app-banniere></app-banniere>
<app-info-agents></app-info-agents>

<div class="container-fluid">
	<div class="col-sm-12 content_page">
		<div class="row titre_page">
	      <h4>SECUTITES</h4>
		</div>
		<!-- MENU -->
		<div class="conteneur-de-menu">
			<ul class="menu1">
				<li  class="menu1-active"><span>VISITEURS</span></li>
				<li (click)="clickInMenu1('sec-acces')"><span>ACCES WEEKEND / JOURS FERIES</span></li>
				<li (click)="clickInMenu1('sec-agent')"><span>AGENT DE SECURITE</span></li>
			</ul>
		</div>

	    <div class="conteneur-de-menu2">
			<ul class="menu1">
				<li (click)="clickSousMenu('entree')" [ngClass]="{'menu1-active': Menu.sousMenu == 'entree'}"><span>ENTREE</span></li>
				<li (click)="clickSousMenu('sortie')" [ngClass]="{'menu1-active': Menu.sousMenu == 'sortie'}"><span>SORTIE</span></li>
				<li (click)="clickSousMenu('liste')" [ngClass]="{'menu1-active': Menu.sousMenu == 'liste'}"><span>LISTE</span></li>
			</ul>
		</div>
		<!-- FIN MENU -->

		<!-- CONTENU -->
		<div class="row" style="padding: 10px;">
			<!-- ENTREE VISITEUR -->
			<div *ngIf="Menu.sousMenu == 'entree'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Enregistrement d'entrée de visieur</h6>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nom</label>
							<input [(ngModel)]="Entree.champ.nom" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Prénom</label>
							<input [(ngModel)]="Entree.champ.prenom" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>CIN</label>
							<input [(ngModel)]="Entree.champ.cin" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Véhicule</label>
							<input [(ngModel)]="Entree.champ.numeroVehicule" type="text" class="form-control" placeholder="Numéro">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-check">
							<input [(ngModel)]="Entree.estAgent" type="checkbox" class="form-check-input" id="exampleCheck1">
    					<label class="form-check-label" for="exampleCheck1">Est un agent de la CNaPS</label>
						</div>
					</div>
					<div *ngIf="!Entree.estAgent" class="col-md-6">
						<div class="form-group">
							<label>Matricule</label>
							<input [(ngModel)]="Entree.champ.refIndividuCnaps" type="text" class="form-control">
						</div>
					</div>
					<div *ngIf="!Entree.estAgent" class="col-md-6">
						<div class="form-group">
							<label>Service destination</label>
							<select [(ngModel)]="Entree.champ.refService" class="form-control custom-select">
								<option value=""></option>
								<option *ngFor="let s of listeService" value="{{s.code_service}}">{{s.code_service + " " + s.libelle}}</option>
							</select>
						</div>
					</div>
					<div *ngIf="!Entree.estAgent" class="col-md-6">
						<div class="form-group">
							<label>Agent recherché</label>
							<input [(ngModel)]="Entree.champ.refIndividuRecherche" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Motif</label>
					<textarea [(ngModel)]="Entree.champ.motif" class="form-control" rows="7" cols="50"></textarea>
				</div>
				<button *ngIf="!Entree.charge" (click)="enregistrerEntree()" class="btn btn-info">Enregistrer</button>
				<div *ngIf="Entree.charge" class="loader"></div>
			</div>
			<!-- SORTIE VISITEUR -->
			<div *ngIf="Menu.sousMenu == 'sortie'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Enregistrement de sortie de visieur</h6>
				<hr>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="6">Liste des visiteurs d'aujourd'hui</th>
						</tr>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>CIN</th>
							<th>Véhicule</th>
							<th>Heure d'entrée</th>
							<th>Heure de sortie</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let v of Sortie.liste; let index = index">
							<td>{{v.nom}}</td>
							<td>{{v.prenom}}</td>
							<td>{{v.cin}}</td>
							<td>{{v.numeroVehicule}}</td>
							<td>{{v.heureEntree}}</td>
							<td *ngIf="v.heureSortie != null">{{v.heureSortie}}</td>
							<td *ngIf="v.heureSortie == null">
								<button *ngIf="!Sortie.liste[index].charge" (click)="ouvreConfirmeSortie(index)" class="btn btn-info">Marquer</button>
								<div *ngIf="Sortie.liste[index].charge" class="mini-loader"></div>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="Sortie.charge" class="loader"></div>
				<div *ngIf="Sortie.liste.length == 0 && Sortie.charge != true" style="text-align: center;">
					Pas de visiteur
				</div>
			</div>
			<!-- LISTE VISITEUR -->
			<div *ngIf="Menu.sousMenu == 'liste'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Liste de tous les visieurs</h6>
				<hr>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Service</label>
							<select [(ngModel)]="Liste.filtre.refService" (change)="filtreChange()" class="form-control custom-select">
								<option value=""></option>
								<option *ngFor="let s of listeService" value="{{s.code_service}}">{{s.code_service + " " + s.libelle}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Nom/Prénom</label>
							<input [(ngModel)]="Liste.filtre.nomPrenom" (ngModelChange)="filtreChange()" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Date</label>
							<input [(ngModel)]="Liste.filtre.date" (ngModelChange)="filtreChange()" type="date" class="form-control">
						</div>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Date</th>
							<th>Nom/Prénom</th>
							<th>HE</th>
							<th>HS</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let v of Liste.liste; let index = index">
							<td>{{v.date}}</td>
							<td>{{v.nom+" "+v.prenom}}</td>
							<td>{{v.heureEntree}}</td>
							<td>{{v.heureSortie}}</td>
							<td>
								<button (click)="afficheInfoVisiteur(index)" class="btn btn-info"><i class="fa fa-info"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="Liste.charge" class="loader"></div>
				<div *ngIf="Liste.liste.length == 0 && Liste.charge == false" style="text-align: center;">
					<span>Pas de résultat</span>
				</div>
				<nav *ngIf="Liste.liste.length > 0 && Liste.charge == false" aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li *ngIf="Liste.page > 1" (click)="pagePrecedent()" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-left"></i></button>
				    </li>
				    <li class="page-item disabled"><span class="page-link">Page {{Liste.page}}</span></li>
				    <li *ngIf="Liste.liste.length == Liste.ligneMax" (click)="pageSuivant()" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-right"></i></button>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>

	<!-- MODAL -->
	<!-- MODAL CONFIRMATION SORTIE -->
	<div #modalConfirmeSortie class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">Confirmation</h6>
	        <button type="button" class="close" (click)="fermeConfirmeSortie()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
  			<div *ngIf="Sortie.indice > -1" class="form-group">
  				<label>Êtes-vous de la sortie de {{Sortie.liste[Sortie.indice].nom + " " + Sortie.liste[Sortie.indice].nom}} ?</label>
  			</div>
	      </div>
	      <div class="modal-footer">
	        <button (click)="fermeConfirmeSortie()" type="button" class="btn">Annuler</button>
	        <button (click)="confirmerSortie()" type="button" class="btn btn-info">Confirmer</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- MODAL INFO VISITEUR -->
	<div #modalInfoVisiteur class="modal" tabindex="-1" role="dialog">
	  <div *ngIf="Liste.indice > -1" class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">Information sur le visiteur</h6>
	        <button type="button" class="close" (click)="fermeInfoVisiteur()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div class="row">
	      		<div class="col-md-4">
		  				<div class="form-group">
		  					<label>Date</label>
		  					<input value="{{avoirDateSlash(Liste.liste[Liste.indice].date)}}" type="text" class="form-control" readonly="true">
		  				</div>
		  			</div>
		  			<div class="col-md-4">
		  				<div class="form-group">
		  					<label>Heure d'entrée</label>
		  					<input value="{{Liste.liste[Liste.indice].heureEntree}}" type="text" class="form-control" readonly="true">
		  				</div>
		  			</div>
		  			<div class="col-md-4">
		  				<div class="form-group">
		  					<label>Heure de sortie</label>
		  					<input value="{{Liste.liste[Liste.indice].heureSortie}}" type="text" class="form-control" readonly="true">
		  				</div>
		  			</div>
	      	</div>
  				<div class="form-group">
  					<label>Nom</label>
  					<input value="{{Liste.liste[Liste.indice].nom}}" type="text" class="form-control" readonly="true">
  				</div>
  				<div class="form-group">
  					<label>Prénom</label>
  					<input value="{{Liste.liste[Liste.indice].prenom}}" type="text" class="form-control" readonly="true">
  				</div>
  				<div class="form-group">
  					<label>CIN</label>
  					<input value="{{Liste.liste[Liste.indice].cin}}" type="text" class="form-control" readonly="true">
  				</div>
  				<div class="form-group">
  					<label>Véhicule (Numéro)</label>
  					<input value="{{Liste.liste[Liste.indice].numeroVehicule}}" type="text" class="form-control" readonly="true">
  				</div>
  				<div *ngIf="Liste.liste[Liste.indice].refIndividuCnaps != null" class="form-group">
  					<label>Matricule agent</label>
  					<input value="{{Liste.liste[Liste.indice].refIndividuCnaps}}" type="text" class="form-control" readonly="true">
  				</div>
  				<div *ngIf="Liste.liste[Liste.indice].refIndividuCnaps == null" class="form-group">
  					<label>Service destination</label>
  					<input value="{{Liste.liste[Liste.indice].refService}}" type="text" class="form-control" readonly="true">
  				</div>
  				<div *ngIf="Liste.liste[Liste.indice].refIndividuCnaps == null" class="form-group">
  					<label>Agent destination</label>
  					<input value="{{Liste.liste[Liste.indice].refIndividuRecherche}}" type="text" class="form-control" readonly="true">
  				</div>
  				<div class="form-group">
  					<label>Motif</label>
  					<textarea cols="20" rows="7" readonly="true">{{Liste.liste[Liste.indice].motif}}</textarea>
  				</div>
	      </div>
	      <div class="modal-footer">
	        <button (click)="fermeInfoVisiteur()" type="button" class="btn btn-info">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>