<div class="container-fluid contact" id="contact">
  <h1 class="titre_contact_h1">CONTACTEZ NOUS</h1>
  <div class="row">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6"><input type="text" class="form-control" placeholder="Nom"></div>
        <div class="col-sm-6"><input type="text" class="form-control" placeholder="Adresse mail"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><input type="text" class="form-control" placeholder="Sujet"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><textarea class="form-control textarea_contact" placeholder="Entrer votre message"></textarea></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12"><button class="btn btn-info boutton_contact">Envoyer</button></div>
      </div>
    </div>
    <div class="col-sm-5">
      <p class="texte_contact">
        &nbsp;&nbsp;&nbsp;&nbsp;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
      <p class="detail_contact"><span class="fa fa-phone"></span>&nbsp;Tél : +261 20 22 205 20</p>
      <p class="detail_contact"><span class="fa fa-envelope"></span>&nbsp;Courrier : cnaps@cnaps.mg</p>
      <p class="detail_contact"><span class="fa fa-globe"></span>&nbsp;Siteweb : www.cnaps.mg</p>
    </div>
  </div>
</div>
