<app-banniere></app-banniere>
<app-menu-centre></app-menu-centre>
<app-info-personnes></app-info-personnes>

<div class="container-fluid">
  <div class="col-sm-12 content_page">
    <div class="row titre_page4">
      <h4>Traitement ATMP </h4>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="card-header text-center titre_service1">Liste Demande Frais Prothèse</h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Date de réception</th>
            <th>Référence de la demande</th>
            <th>Matricule de l'employeur</th>
            <th>Nom</th>
            <th>Etat de la demande</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let demande of dats">
            <td>
              {{demande.date_reception}}
            </td>
            <td> {{demande.reference}} </td>
            <td>{{demande.matricule}}</td>
            <td>{{demande.nom_individu }}</td>
            <td>{{demande.etat_libelle}}</td>
            <td><a routerLink="/atmp/traitement/fp/{{demande.reference}}"> Voir</a></td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li *ngFor="let age of pageCount; let i = index" class="page-item"><a class="page-link" routerLink="/liste-demande/{{i+1}}/{{size}}">{{i+1}}</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>
