<app-banniere></app-banniere>
<app-info-agents></app-info-agents>

<div class="container-fluid">
	<div class="col-sm-12 content_page">
		<div class="row titre_page">
	      <h4>IMMOBILISATIONS</h4>
		</div>
		<!-- MENU -->
		<div class="conteneur-de-menu">
			<ul class="menu1">
				<li (click)="clickInMenu1('immo-dmd')"><span>DEMANDE</span></li>
				<li (click)="clickInMenu1('immo-liste')"><span>LISTE</span></li>
				<li (click)="clickInMenu1('immo-art')"><span>ARTICLE</span></li>
				<li class="menu1-active"><span>MOUVEMENT</span></li>
				<li (click)="clickInMenu1('immo-inventaire')"><span>INVENTAIRE</span></li>
			</ul>
		</div>

	    <div class="conteneur-de-menu2">
			<ul class="menu1">
				<li (click)="clickSousMenu('art_entree')" [ngClass]="{'menu1-active': Menu.sousMenu == 'art_entree'}"><span>ENTREE</span></li>
				<li (click)="clickSousMenu('detention')" [ngClass]="{'menu1-active': Menu.sousMenu == 'detention'}"><span>DETENTION</span></li>
				<li (click)="clickSousMenu('cession')" [ngClass]="{'menu1-active': Menu.sousMenu == 'cession'}"><span>CESSION ET MISE AU REBUT</span></li>
			</ul>
		</div>
		<!-- FIN MENU -->

		<!-- CONTENU -->
		<div class="row" style="padding: 10px;">
			<!-- ENTREE -->
			<div *ngIf="Menu.sousMenu == 'art_entree'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Saisie bon d'entrée depuis un TEF</h6>
				<hr>
				<div class="tef-conteneur">
					<div class="form-group">
						<label>N° TEF</label>
						<div class="input-group mb-3">
							<input type="text" class="form-control">
							<div class="input-group-append">
								<button class="btn btn-info">Charger</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>N° BE</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Date BE</label>
							<input type="date" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>N° BL</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Magasin</label>
							<select class="form-control custom-select">
								<option>MAGASIN1</option>
							</select>
						</div>
					</div>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Désignation</th>
							<th>Cmd</th>
							<th>PU HT Prev</th>
							<th>Colisage</th>
							<th>Livrée</th>
							<th>PU TTC</th>
							<th>Amortissable</th>
							<th>Cout Unitaire</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
			<!-- DETENTION -->
			<div *ngIf="Menu.sousMenu == 'detention'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Etablissement d'une fiche de détention</h6>
				<hr>
				<div class="row">
					<div class="col-4">
						<div class="form-group">
							<label>Service destinataire</label>
							<select [(ngModel)]="Det.refService" class="form-control custom-select">
								<option *ngFor="let s of listeService" value="{{s.code_service}}">{{s.libelle_service}}</option>
							</select>
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label>Agent destinataire (N° Matricule)</label>
							<input [(ngModel)]="Det.refIndividu" type="text" class="form-control">
						</div>
					</div>
					<div class="col-4">
						<div class="form-group">
							<label>Code article</label>
							<div class="input-group mb-3">
								<input [(ngModel)]="Det.idCodeArt" type="text" class="form-control input-upper">
								<div class="input-group-append">
									<button (click)="ajouterCodeArt()" class="btn btn-info">Ajouter</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Code</th>
							<th>Désignation</th>
							<th>Référence</th>
							<th>Etat</th>
							<th>N° TEF</th>
							<th>Fournisseur</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let ca of Det.listeCodeArt; let index = index">
							<td><{{ca.idCodeArt}}</td>
							<td><{{ca.libelle}}</td>
							<td><{{ca.reference}}</td>
							<td><{{ca.etat}}</td>
							<td><{{ca.tef}}</td>
							<td><{{ca.fournisseur}}</td>
							<td>
								<button (click)="enleverCodeArt(index)" class="btn"><i class="fa fa-minus"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
				<button (click)="validerDetention()" class="btn" [ngClass]="{'btn-info': Det.listeCodeArt.length > 0 && Det.refService > 0 && Det.refIndividu.length > 7}">Valider la détention</button>
			</div>
			<!-- CESSION -->
			<div *ngIf="Menu.sousMenu == 'cession'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Etablissement des articles hors services ou non utiles</h6>
				<hr>
				<div class="row">
					<div class="col-md-6 form-group">
						<label>Service</label>
						<div class="input-group mb-3">
							<select [(ngModel)]="Cess.refService" class="form-control custom-select">
								<option *ngFor="let s of listeService" value="{{s.code_service}}">{{s.libelle_service}}</option>
							</select>
							<div class="input-group-append">
								<button (click)="chargerServiceImmo()" class="btn btn-info">Charger</button>
							</div>
						</div>
					</div>
				</div>
				<p>Liste des immobilisations du service</p>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Code</th>
							<th>Désignation</th>
							<th>Référence</th>
							<th>Etat</th>
							<th style="width: 130px;">Hors-service</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let da of Cess.listeDetService; let index = index">
							<td>{{da.idCodeArt}}</td>
							<td>{{da.libelleArticle}}</td>
							<td>{{da.codeArticle.reference}}</td>
							<td>{{ca.codeArticle.etat}}</td>
							<td>
								<input [(ngModel)]="Cess.listeDetService[index].horsService" name="horsService" type="checkbox" value="{{ca.horsService}}" class="form-check-input">
							</td>
						</tr>
					</tbody>
				</table>
				<button (click)="validerCession()" class="btn" [ngClass]="{'btn-info': Cess.listeDetService.length > 0}">Valider</button>
			</div>
		</div>
	</div>

	<!-- MODAL -->
	<!-- MODAL CHARGEMENT -->
	<div #modalChargement class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="loader">
		</div>
	  </div>
	</div>
</div>

<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>
