<app-banniere></app-banniere>
<app-menu-centre></app-menu-centre>
<app-info-personnes></app-info-personnes>
<div class="container-fluid">
  <form  [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="col-sm-12 content_page">
      <div class="row titre_page">
        <h4>Demande de retraite</h4>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label texte-content">Raison : </label>
                <div class="col-sm-10">
                  <mat-form-field class="full-width">
                      <textarea matInput placeholder="Ecrivez ici vos raisons" formControlName="raison" rows="4"
                                class="form-control" required></textarea>
                  </mat-form-field>
                </div>
              </div>s
            </div>
            <div class="col-sm-12">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label texte-content">Date : </label>
                <div class="col-sm-10">
                  <mat-form-field>
                    <input matInput formControlName="date" type="date"/>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">


          </div>

        </div>
      </div>


      <hr>
      <div class="row">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-info btn-block">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>
