<!--<app-banniere></app-banniere>
<app-info-agents></app-info-agents>-->

<div class="container-fluid">
	<div class="col-sm-12 content_page">
		<div class="row titre_page">
	      <h4>IMMOBILISATIONS</h4>
		</div>
		<!-- MENU -->
		<div class="conteneur-de-menu">
			<ul class="menu1">
				<li (click)="clickInMenu1('immo-dmd')"><span>DEMANDE</span></li>
				<li (click)="clickInMenu1('immo-liste')"><span>LISTE</span></li>
				<li class="menu1-active"><span>ARTICLE</span></li>
				<li (click)="clickInMenu1('immo-mvt')"><span>MOUVEMENT</span></li>
				<li (click)="clickInMenu1('immo-inventaire')"><span>INVENTAIRE</span></li>
			</ul>
		</div>

	    <div class="conteneur-de-menu2">
			<ul class="menu1">
				<li (click)="clickSousMenu('art_stock')" [ngClass]="{'menu1-active': Menu.sousMenu == 'art_stock'}"><span>STOCK</span></li>
				<li (click)="clickSousMenu('art_spe')" [ngClass]="{'menu1-active': Menu.sousMenu == 'art_spe'}"><span>SPECIFICITE</span></li>
				<li (click)="clickSousMenu('art_hist')" [ngClass]="{'menu1-active': Menu.sousMenu == 'art_hist'}"><span>HISTORIQUE</span></li>
				<li (click)="clickSousMenu('art_maj')" [ngClass]="{'menu1-active': Menu.sousMenu == 'art_maj'}"><span>MISE A JOUR</span></li>
			</ul>
		</div>
		<!-- FIN MENU -->

		<!-- CONTENU -->
		<div class="row" style="padding: 10px;">
			<div *ngIf="Menu.sousMenu == 'art_stock'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Liste des articles dans la base</h6>
				<hr>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Article</label><br>
							<input [(ngModel)]="Stock.filtre.libelle" type="text" class="form-control input-upper" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Domaine</label>
							<select [(ngModel)]="Stock.filtre.idDomaineArt" (change)="filtreChange()" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let d of listeDomaine" value="{{d.idDomaineArt}}">{{d.libelle}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Type</label>
							<select [(ngModel)]="Stock.filtre.idTypeArt" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let t of listeType" value="{{t.idTypeArt}}">{{t.libelle}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Classe</label><br>
							<select [(ngModel)]="Stock.filtre.idClasseArt" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let c of listeClasse" value="{{c.idClasseArt}}">{{c.libelle}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Nature</label>
							<select [(ngModel)]="Stock.filtre.idNatureArt" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let n of listeNature" value="{{n.idNatureArt}}">{{n.libelle}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Spécificité</label>
							<select [(ngModel)]="Stock.filtre.idSpeArt" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let s of listeSpecificite" value="{{s.idSpeArt}}">{{s.libelle}}</option>
							</select>
						</div>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<th>Désignation</th>
						<th>Domaine</th>
						<th>Type</th>
						<th>Stock</th>
						<th>Code</th>
						<th></th>
					</thead>
					<tbody>
						<tr *ngFor="let s of Stock.liste; let index = index">
							<td>{{s.libelle}}</td>
							<td>{{avoirLibelleParId('listeDomaine', 'idDomaineArt', s.idDomaineArt)}}</td>
							<td>{{avoirLibelleParId('listeType', 'idTypeArt', s.idTypeArt)}}</td>
							<td>{{s.stock}}</td>
							<td>{{avoirCode(s)}}</td>
							<td>
								<button (click)="ouvreModifArt(index)" class="btn btn-info"><span class="fa fa-edit"></span></button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="Stock.chargeListe" class="loader"></div>
				<nav *ngIf="Stock.liste.length > 0 && Stock.chargeListe == false" aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li *ngIf="Stock.page > 1" (click)="pagePrecedent()" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-left"></i></button>
				    </li>
				    <li class="page-item disabled"><span class="page-link">Page {{Stock.page}}</span></li>
				    <li *ngIf="Stock.liste.length == ligneMax" (click)="pageSuivant()" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-right"></i></button>
				    </li>
				  </ul>
				</nav>
			</div>
			<div *ngIf="Menu.sousMenu == 'art_spe'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Gestion des caractéristiques d'article</h6>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<select [(ngModel)]="Dom.select" (change)="domValeurChange()" class="form-control custom-select">
							<option value="domaine">Liste de Domaines</option>
							<option value="type">Liste de Types</option>
						</select>
						<hr>
						<button (click)="ouvreAjoutDom()" class="btn btn-info" style="margin-bottom: 10px;">{{Dom.btnTexte}}</button><br>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Libellé</th>
								</tr>
							</thead>
							<tbody *ngIf="Dom.valeur == 'domaine'">
								<tr *ngFor="let d of listeDomaine">
									<td>{{d.libelle}}</td>
								</tr>
							</tbody>
							<tbody *ngIf="Dom.valeur == 'type'">
								<tr *ngFor="let t of listeType">
									<td>{{t.libelle}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<select [(ngModel)]="Spe.select" (change)="speValeurChange()" class="form-control custom-select">
							<option value="classe">Liste de Classes</option>
							<option value="nature">Liste de Natures</option>
							<option value="spe">Liste de Spécificité</option>
						</select>
						<hr>
						<button (click)="ouvreAjoutSpe()" class="btn btn-info" style="margin-bottom: 10px;">{{Spe.btnTexte}}</button><br>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Code</th>
									<th>{{Spe.titre}}</th>
								</tr>
							</thead>
							<tbody *ngIf="Spe.valeur == 'classe'">
								<tr *ngFor="let c of listeClasse">
									<td>{{c.code_classe}}</td>
									<td>{{c.libelle}}</td>
								</tr>
							</tbody>
							<tbody *ngIf="Spe.valeur == 'nature'">
								<tr *ngFor="let n of listeNature">
									<td>{{n.code_nature}}</td>
									<td>{{n.libelle}}</td>
								</tr>
							</tbody>
							<tbody *ngIf="Spe.valeur == 'spe'">
								<tr *ngFor="let s of listeSpecificite">
									<td>{{s.code_spe}}</td>
									<td>{{s.libelle}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div *ngIf="Menu.sousMenu == 'art_hist'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Historique de mouvement d'un article</h6>
				<hr>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label>Code de l'article</label>
							<div class="input-group mb-3">
								<input [(ngModel)]="Hist.codeArtcile" type="text" class="form-control input-upper">
								<div class="input-group-append">
									<button (click)="chargerHistArt()" class="btn btn-info">Charger</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="form-group">
							<label>Désignation</label>
							<input [(ngModel)]="Hist.designation" type="text" class="form-control input-upper" readonly="true">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Classe</label>
							<input [(ngModel)]="Hist.classe" type="text" class="form-control" readonly="true">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Référence</label>
							<input [(ngModel)]="Hist.reference" type="text" class="form-control" readonly="true">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Marque</label>
							<input [(ngModel)]="Hist.marque" type="text" class="form-control" readonly="true">
						</div>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Code service</th>
							<th>Libellé service</th>
							<th>Détenteur</th>
							<th>Date début</th>
							<th>Date fin</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>4010</td>
							<td>AFFAIRES GENERALES</td>
							<td>MATRICULE</td>
							<td>12/03/2015</td>
							<td>23/11/2015</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div *ngIf="Menu.sousMenu == 'art_maj'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Mise à jour de la localisation d'article</h6>
				<hr>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label>Code de l'article</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control input-upper">
								<div class="input-group-append">
									<button class="btn btn-info">Charger</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="form-group">
							<label>Désignation</label>
							<input type="text" class="form-control input-upper">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Référence</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Prix</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Imputation</label>
							<input type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Type de mise à jour</label>
					<select class="form-control custom-select">
						<option>TRANSFERT</option>
						<option>RETOUR EN STOCK</option>
					</select>
				</div>
				<div class="form-group">
					<label>Code service (nouveau détenteur)</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group">
					<label>Matricule agent (nouveau détenteur)</label>
					<input type="text" class="form-control">
				</div>
				<button class="btn btn-info">Enregistrer</button>
			</div>
		</div>
	</div>

	<!-- MODAL -->
	<!-- MODAL CHARGEMENT -->
	<div #modalChargement class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="loader">
		</div>
	  </div>
	</div>
	<!-- MODAL AJOUT DOMAINE/TYPE -->
	<div #modalAjoutDom class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">{{Dom.titreModal}}</h6>
	        <button type="button" class="close" (click)="fermeAjoutDom()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
  			<div class="form-group">
  				<label>Libellé</label>
  				<input [(ngModel)]="Dom.valeur" type="text" class="form-control input-upper">
  			</div>
	      </div>
	      <div class="modal-footer">
	        <button (click)="ajouterDom()" type="button" class="btn btn-primary">Ajouter</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- MODAL AJOUT SPECIFICITE -->
	<div #modalAjoutSpe class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">Ajout d'une {{Spe.titre}}</h6>
	        <button type="button" class="close" (click)="fermeAjoutSpe()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div class="row">
	      		<div class="col-3">
	      			<div class="form-group">
	      				<label>Code</label>
	      				<input [(ngModel)]="Spe.valeurCode" type="text" maxlength="{{Spe.tailleTexte}}" class="form-control input-upper">
	      			</div>
	      		</div>
	      		<div class="col-9">
	      			<div class="form-group">
	      				<label>{{Spe.titre}}</label>
	      				<input [(ngModel)]="Spe.valeurLibelle" type="text" class="form-control input-upper">
	      			</div>
	      		</div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button (click)="ajouterSpe()" type="button" class="btn btn-primary">Ajouter</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- MODAL MODIF ARTICLE -->
	<div #modalModifArt class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">Edition d'article</h6>
	        <button type="button" class="close" (click)="fermeModifArt()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
  			<div class="form-group">
  				<label>Designation</label>
  				<input [(ngModel)]="Stock.edition.libelle" type="text" class="form-control input-upper">
  			</div>
  			<div class="form-group">
  				<label>Domaine</label>
  				<select [(ngModel)]="Stock.edition.idDomaineArt" class="form-control custom-select">
					<option *ngFor="let d of listeDomaine" value="{{d.idDomaineArt}}">{{d.libelle}}</option>
				</select>
  			</div>
  			<div class="form-group">
  				<label>Type</label>
  				<select [(ngModel)]="Stock.edition.idTypeArt" class="form-control custom-select">
					<option *ngFor="let t of listeType" value="{{t.idTypeArt}}">{{t.libelle}}</option>
				</select>
  			</div>
  			<div class="form-group">
  				<label>Classe</label>
  				<select [(ngModel)]="Stock.edition.idClasseArt" class="form-control custom-select">
					<option *ngFor="let c of listeClasse" value="{{c.idClasseArt}}">{{c.libelle}}</option>
				</select>
  			</div>
  			<div class="form-group">
  				<label>Nature</label>
  				<select [(ngModel)]="Stock.edition.idNatureArt" class="form-control custom-select">
					<option *ngFor="let n of listeNature" value="{{n.idNatureArt}}">{{n.libelle}}</option>
				</select>
  			</div>
  			<div class="form-group">
  				<label>Spécificité</label>
  				<select class="form-control custom-select">
					<option *ngFor="let s of listeSpecificite" value="{{s.idSpeArt}}">{{s.libelle}}</option>
				</select>
  			</div>
  			<div class="form-group">
  				<label>Stock</label>
  				<input [(ngModel)]="Stock.edition.stock" type="number" min="0" class="form-control">
  			</div>
	      </div>
	      <div class="modal-footer">
	        <button *ngIf="!Stock.chargeModif" (click)="modifierArticle()" type="button" class="btn btn-primary">Valider le changement</button>
	        <div *ngIf="Stock.chargeModif" class="loader"></div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<!--<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>-->
