<app-banniere></app-banniere>
<app-info-agents></app-info-agents>

<div class="container-fluid">
	<div class="col-sm-12 content_page">
		<div class="row titre_page">
	      <h4>IMMOBILISATIONS</h4>
		</div>
		<!-- MENU -->
		<div class="conteneur-de-menu">
			<ul class="menu1">
				<li (click)="clickInMenu1('immo-liste')"><span>DEMANDE</span></li>
				<li (click)="clickInMenu1('immo-liste')"><span>LISTE</span></li>
				<li (click)="clickInMenu1('immo-art')"><span>ARTICLE</span></li>
				<li (click)="clickInMenu1('immo-mvt')"><span>MOUVEMENT</span></li>
				<li class="menu1-active"><span>INVENTAIRE</span></li>
			</ul>
		</div>

	    <div class="conteneur-de-menu2">
			<ul class="menu1"><!--
				<li (click)="clickSousMenu('detention')" [ngClass]="{'menu1-active': Menu.sousMenu == 'detention'}"><span>DETENTION</span></li>
				<li (click)="clickSousMenu('cession')" [ngClass]="{'menu1-active': Menu.sousMenu == 'cession'}"><span>CESSION ET MISE AU REBUT</span></li>-->
				<li (click)="clickSousMenu('inventaire')" [ngClass]="{'menu1-active': Menu.sousMenu == 'inventaire'}"><span>PV D'INVENTAIRE</span></li>
				<li (click)="clickSousMenu('etat')" [ngClass]="{'menu1-active': Menu.sousMenu == 'etat'}"><span>ETAT D'INVENTAIRE</span></li>
			</ul>
		</div>
		<!-- FIN MENU -->

		<!-- CONTENU -->
		<div class="row" style="padding: 10px;">
			<!-- INVENTAIRE-->
			<div *ngIf="Menu.sousMenu == 'inventaire'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Inventaire des immobilisations</h6>
				<hr>
				<div class="form-group">
					<label>Service</label>
					<select class="form-control custom-select">
						<option>SERVICE</option>
					</select>
				</div>
				<p>Liste des immobilisations du service</p>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Code</th>
							<th>Désignation</th>
							<th>Référence</th>
							<th>Etat</th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- ETAT D'INVENTAIRE-->
			<div *ngIf="Menu.sousMenu == 'etat'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Etablissement d'etat d'inventaire des immobilisations</h6>
				<hr>
				<div class="form-group">
					<!-- generena ny etat d'inventaire dia refa misy modification dia ny pv d'inventaire ny miova -->
					<label>Année d'exercice</label>
					<input type="number" class="form-control">
				</div>
			</div>
		</div>

	</div>
</div>

<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>