<app-banniere></app-banniere>
<app-menu-centre></app-menu-centre>
<app-info-personnes></app-info-personnes>
<div class="container-fluid">
  <div>
    <div class="col-sm-12">
      <div class="titre_page">
        <h4> Renouvellement de l'emprunt N° 45621023555</h4>
        <div>
          <div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label texte-content">Identifiant du demande : </label>
              <div class="col-sm-8">
                <input disabled class="form-control" type="text" placeholder="Entrer l'identifiant du demandeur"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label texte-content">Date de l'emprunt : </label>
              <div class="col-sm-8">
                <input disabled class="form-control" type="date" placeholder="Entrer l'identifiant du demandeur"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label texte-content">Date de retour prévu : </label>
              <div class="col-sm-8">
                <input disabled class="form-control" type="date" placeholder="Entrer l'identifiant du demandeur"/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label texte-content">Nouvelle date de retour : </label>
              <div class="col-sm-8">
                <input class="form-control" type="date" placeholder="Entrer l'identifiant du demandeur"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-12 inline"><button class="btn btn-success btn-action" >Enregistrer</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped">
            <thead class="table table-striped">
            <tr>
              <th>Identifiant</th>
              <th>Titre</th>
              <th>Auteur </th>
              <th>Editeur</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                ISBM
              </td>
              <td>
                La pratique professionnelle de la communication
              </td>
              <td>
                Glori Adward
              </td>
              <td>
                L'Hamtaan
              </td>

            </tr>
            </tbody>
          </table>


          <!-- <div class="col-sm-10" *ngIf="individu">{{individu.nom}} {{individu.prenoms}}</div>
          <div class="col-sm-10">
            <span *ngIf="adresseIndividu">{{adresseIndividu.quartier}} {{adresseIndividu.complement}}</span>
          </div> -->
          <!-- <div class="col-sm-2 texte-content">Nom ou raison sociale</div>
                <div class="col-sm-10">Valeur</div> -->
          <!-- <div class="col-sm-2 texte-content">Mode de paiement</div> -->
          <!-- <div class="col-sm-10"></div> -->
        </div>

      </div>
      <app-historique-indiv></app-historique-indiv>
      <app-lien-foot></app-lien-foot>
