<app-banniere></app-banniere>
<!-- <app-menu-centre></app-menu-centre>
<app-info-personnes></app-info-personnes> -->
<div class="container-fluid">
  <div class="col-sm-12 content_page">
    <div class="row titre_page4">
      <h4>Détails indemnité journalière
      </h4>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center">Ref - {{idDmdIJ}}</h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col1" *ngIf="individu">
        <div class="row titre-info">
          <h3>&nbsp;{{individu.nom}} {{individu.prenoms}}</h3>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6 texte-content">Matricule:</div>
              <div class="col-sm-6">{{individu.id_individu}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-4 texte-content">Sexe:</div>
              <div class="col-sm-8">{{individu.id_sexe.libelle}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6 texte-content">Date de naissance:</div>
              <div class="col-sm-6">{{individu.date_naissance}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6 texte-content">Lieu de naissance:</div>
              <div class="col-sm-6">{{individu.lieu_naissance}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6 texte-content">CIN:</div>
              <div class="col-sm-6">{{individu.cin}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-4 texte-content">Date CIN:</div>
              <div class="col-sm-8">{{individu.date_cin}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6 texte-content">Firaisana:</div>
              <div class="col-sm-6" *ngIf="adresseIndividu">{{adresseIndividu.fokontany.firaisana.libelle}}</div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6 texte-content">Nationalité:</div>
              <div class="col-sm-6">{{individu.id_nationalite.libelle}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <form (ngSubmit)="onModifTecInfReq()" [formGroup]="ijForm">
      <div class="row">
        <div class="col-sm-12">
          <h6>Informations</h6>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-6" *ngFor="let input of inputs">
            <app-dynamic-input [input]="input" [form]="ijForm"></app-dynamic-input>
          </div>
        </div>
        <div class="col-sm-2">
          <button *ngIf="cant_validate==true" [disabled]="!ijForm.valid" type="submit" class="btn btn-success btn-block">Modifier</button>
        </div>
        <div class="col-sm-10"></div>
      </div>
    </form>
    <hr>
    <div class="">
      <div class="col-sm-12">
        <h6>Droit</h6>
      </div>
      <div class="col-sm-12">
        <div class="row" *ngIf="decompte">
          <div class="col-sm-2">Début période prénatal</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" value="{{decompte.date_debut_prenatale | date : 'dd/MM/yyyy'}}" readonly>
          </div>
          <div class="col-sm-2">Fin période prénatal</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" value="{{decompte.dpa | date : 'dd/MM/yyyy'}}" readonly>
          </div>
          <div class="col-sm-2">Nombre de jours prénatal</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" value="{{decompte.nbjourpre}}" readonly>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="decompte">
          <div class="col-sm-2">Début période postnatal</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" value="{{decompte.date_debut_postnatale | date : 'dd/MM/yyyy'}}" readonly>
          </div>
          <div class="col-sm-2">Fin période postnatal</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" value="{{decompte.date_fin_postnatale | date : 'dd/MM/yyyy'}}" readonly>
          </div>
          <div class="col-sm-2">Nombre de jours postnatal</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" value="{{decompte.nbjourpost}}" readonly>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="decompte">
          <div class="col-sm-2">Total jours</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" value="{{decompte.nbjourpost+decompte.nbjourpre}}" readonly>
          </div>
          <div class="col-sm-2">Montant droit</div>
          <div class="col-sm-2">
            <input type="text" class="form-control" value="{{decompte.ij1}}" readonly>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h6>Pièces justificatives</h6>
      </div>
      <div class="col-sm-12">
        <div *ngFor="let piece of pieces">
          <button class="btn btn-primary" (click)="onClickPiece(piece.file)" >{{piece.name}}</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h6>Bénéficiaire</h6>
      </div>
      <div class="col-sm-2 texte-content">Individu</div>
      <div class="col-sm-10" *ngIf="individu">{{individu.nom}} {{individu.prenoms}}</div>
      <div class="col-sm-2 texte-content">Adresse</div>
      <div class="col-sm-10">
        <span *ngIf="adresseIndividu">{{adresseIndividu.quartier}} {{adresseIndividu.complement}}</span>
      </div>
    </div>
    <hr>
    <form (ngSubmit)="onAcceptCLick()" [formGroup]="validForm">
      <div class="row">
        <div class="col-sm-12">
          <h6>Conclusion</h6>
        </div>
        <div class="col-sm-2 texte-content">Observations</div>
        <div class="col-sm-10">
          <textarea name="observations" formControlName="observations" class="form-control"></textarea>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
          <a *ngIf="cant_validate==true" class="btn btn4 btn-block" style="color: #fff;" data-toggle="modal" data-target="#piecesJointes">Pièces jointes non conformes</a>
          <br>
        </div>
        <div class="col-sm-2">
          <div *ngIf="!show">
            <button *ngIf="cant_validate==true" [disabled]="!validForm.valid" type="submit" class="btn btn-success btn-block">Valider</button>
            <br>
          </div>
          <div *ngIf="show">
            <div class="loader"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="piecesJointes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Message</label>
          <textarea class="form-control" [(ngModel)]="pieceJointeMessage" name="pieceJointeMessage"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="!show" class="container-fluid connex_boutton">
          <button type="submit" class="btn btn-info" (click)="onPieceJointeClick()">
            Envoyer
          </button>
        </div>
        <div *ngIf="show" class="container-fluid connex_boutton">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-historique-indiv></app-historique-indiv> -->
<app-lien-foot></app-lien-foot>