<app-banniere></app-banniere>
<app-menu-centre></app-menu-centre>
<div class="container-fluid">
    <div class="col-sm-12 content_page">
        <div class="row titre_page4">
            <h4>CCL</h4>
        </div>
        <section class="gallery-block compact-gallery">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover image-center">
                        <a class="lightbox">
                            <img class="img-fluid image" src="../../../assets/img/image/image1.jpg">
                            <span class="description">
                                <span class="description-heading">Lorem Ipsum</span>
                                <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover image-center">
                        <a class="lightbox">
                            <img class="img-fluid image" src="../../../assets/img/image/image2.jpg">
                            <span class="description">
                                <span class="description-heading">Lorem Ipsum</span>
                                <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover image-center">
                        <a class="lightbox">
                            <img class="img-fluid image" src="../../../assets/img/image/image3.jpg">
                            <span class="description">
                                <span class="description-heading">Lorem Ipsum</span>
                                <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover image-center">
                        <a class="lightbox">
                            <img class="img-fluid image" src="../../../assets/img/image/image4.jpg">
                            <span class="description">
                                <span class="description-heading">Lorem Ipsum</span>
                                <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover image-center">
                        <a class="lightbox">
                            <img class="img-fluid image" src="../../../assets/img/image/image5.jpg">
                            <span class="description">
                                <span class="description-heading">Lorem Ipsum</span>
                                <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover image-center">
                        <a class="lightbox">
                            <img class="img-fluid image" src="../../../assets/img/image/image6.jpg">
                            <span class="description">
                                <span class="description-heading">Lorem Ipsum</span>
                                <span class="description-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>