<app-banniere></app-banniere>
<app-info-agents></app-info-agents>

<div class="container-fluid">
	<div class="col-sm-12 content_page">
		<div class="row titre_page">
	      <h4>BUDGET DE PROGRAMME</h4>
    </div>
		
		<!-- MENU -->
		<div class="conteneur-de-menu">
			<ul class="menu1">
				<li class="menu1-active"><span>SAISIE</span></li>
				<li (click)="clickInMenu1('se-elab')"><span>ELABORATION</span></li>
				<li (click)="clickInMenu1('se-hist')"><span>HISTORIQUE</span></li>
			</ul>
    </div>

    <div class="conteneur-de-menu2">
    <ul class="menu1">
      <li (click)="clickSousMenu('axes')" [ngClass]="{'menu1-active': Menu.sousMenu == 'axes'}"><span>AXES STRATEGIQUES</span></li>
      <li (click)="clickSousMenu('objectifs')" [ngClass]="{'menu1-active': Menu.sousMenu == 'objectifs'}"><span>OBJECTIFS STRATEGIQUES</span></li>
      <li (click)="clickSousMenu('projets')" [ngClass]="{'menu1-active': Menu.sousMenu == 'projets'}"><span>PROJETS</span></li>
    </ul>
  </div>
  <!-- FIN MENU -->

		<!-- CONTENU -->
		<div class="row" style="padding: 10px;">
			<!-- AXES -->
      <div *ngIf="Menu.sousMenu == 'axes'" class="col-md-12">
        <div class="form-group">
          <label>Quinquennat</label>
          <ngx-select [(ngModel)]="Axes.champ.quinquennat" [items]="quinquennat" ></ngx-select>
        </div>
        <div class="form-group">
          <label>Programme</label>
          <ngx-select [(ngModel)]="Axes.champ.idProgr" [items]="Axes.ngxProgr"></ngx-select>
        </div>
        <div class="form-group">
          <label>Code de l'axe</label>
          <input [(ngModel)]="Axes.champ.codeAxe" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Libellé de l'axe</label>
          <input [(ngModel)]="Axes.champ.libelle" type="text" class="form-control">
        </div>
        <button *ngIf="!Axes.charge" (click)="enregistrerAxe()" class="btn btn-info">Enregistrer</button>
        <div *ngIf="Axes.charge" class="loader"></div>
      </div>
      <!-- OBJECTIFS -->
      <div *ngIf="Menu.sousMenu == 'objectifs'" class="col-md-12">
        <div class="form-group">
          <label>Quinquennat</label>
          <ngx-select [(ngModel)]="Objectifs.quinquennat" (ngModelChange)="quiquennatChange('Objectifs')" [items]="quinquennat" ></ngx-select>
        </div>
        <div class="form-group">
          <label>Axe stratégique</label>
          <ngx-select [(ngModel)]="Objectifs.champ.idAxe" [items]="Objectifs.ngxAxes"></ngx-select>
        </div>
        <div class="form-group">
          <label>Code de l'objectif</label>
          <input [(ngModel)]="Objectifs.champ.codeObj" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Libellé de l'objectif</label>
          <input [(ngModel)]="Objectifs.champ.libelleObj" type="text" class="form-control">
        </div>
        <button *ngIf="!Objectifs.charge" (click)="verifChampObjectif()" class="btn btn-info">Enregistrer</button>
        <div *ngIf="Objectifs.charge" class="loader"></div>
      </div>
      <!-- PROJETS -->
      <div *ngIf="Menu.sousMenu == 'projets'" class="col-md-12">
        <div class="form-group">
          <label>Quinquennat</label>
          <ngx-select [(ngModel)]="Projets.quinquennat" (ngModelChange)="quiquennatChange('Projets')" [items]="quinquennat" ></ngx-select>
        </div>
        <div class="form-group">
          <label>Axe stratégique</label>
          <ngx-select [(ngModel)]="Projets.idAxe" (ngModelChange)="axeChange()" [items]="ngxAxes"></ngx-select>
        </div>
        <div class="form-group">
          <label>Objectif stratégique</label>
          <ngx-select [(ngModel)]="Projet.champ.idObjectifStrategique" [items]="Projets.ngxObjectifs"></ngx-select>
        </div>
        <div class="form-group">
          <label>Code projet</label>
          <input [(ngModel)]="Projet.champ.codeProjet" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Libellé du projet</label>
          <input [(ngModel)]="Projet.champ.libelleProjet" type="text" class="form-control">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Date début</label>
              <input [(ngModel)]="Projet.champ.dateDebut" type="date" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Date fin</label>
              <input [(ngModel)]="Projet.champ.dateFin" type="date" class="form-control">
            </div>
          </div>
        </div>
        <button *ngIf="!Projet.charge" (click)="enregistrerProjet()" class="btn btn-info">Enregistrer</button>
        <div *ngIf="Projet.charge" class="loader"></div>
      </div>
    </div>
    
  </div>
</div>

<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>