<app-banniere></app-banniere>
<app-menu-centre></app-menu-centre>
<app-info-personnes></app-info-personnes>
<div class="container-fluid">
    <div class="col-sm-12 content_page">
      <div class="row titre_page">
        <h4>Demande de démission</h4>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="save()">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label texte-content">Raison : </label>
                  <div class="col-sm-10">
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Ecrivez ici vos raisons" formControlName="raison" rows="4"
                                class="form-control" required></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label texte-content">Date : </label>
                  <div class="col-sm-10">
                    <mat-form-field class="full-width">
                      <input matInput type="date" class="form-control" formControlName="date" required/>
                    </mat-form-field>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <app-files-upload [service]="service" [id_demande]="id_demande" [filesName]="files_names" (filesBase64)="getFile($event)" (valide)="getValide($event)"></app-files-upload>
              </div>

            </div>

          </div>
        </div>


        <hr>
        <div class="row">
          <div class="col-sm-10"></div>
          <div class="col-sm-2">
            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info btn-block">Enregistrer</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>
