.texte-indiv
{
    margin-left: 5%
}
.bas
{
    border-bottom: solid 1px silver
}
.tout
{
    border: solid 1px silver
}
.titre1
{
    font-weight: bold;
    text-decoration: underline
}
.marge
{
    margin-top: 1%
}