<app-banniere></app-banniere>
<app-info-agents></app-info-agents>

<div class="container-fluid">
  <div class="col-sm-12 content_page">
    <div class="row titre_page">
      <h4>BUDGET DE PROGRAMME</h4>
    </div>

    <!-- MENU -->
    <div class="conteneur-de-menu">
      <ul class="menu1">
        <li (click)="clickInMenu1('bp-saisie')">
          <span>SAISIE</span>
        </li>
        <li class="menu1-active">
          <span>ELABORATION</span>
        </li>
        <li (click)="clickInMenu1('se-hist')">
          <span>HISTORIQUE</span>
        </li>
      </ul>
    </div>

    <div class="conteneur-de-menu2">
      <ul class="menu1">
        <li (click)="clickSousMenu('service')" [ngClass]="{'menu1-active': Menu.sousMenu == 'service'}">
          <span>PAR SERVICE</span>
        </li>
        <li (click)="clickSousMenu('se')" [ngClass]="{'menu1-active': Menu.sousMenu == 'se'}">
          <span>SERVICE SE</span>
        </li>
        <li (click)="clickSousMenu('val')" [ngClass]="{'menu1-active': Menu.sousMenu == 'val'}">
          <span>VALIDATION</span>
        </li>
      </ul>
    </div>
    <!-- FIN MENU -->

    <!-- CONTENU -->
    <div class="row" style="padding: 10px;">
      <!-- SERVICE -->
      <div [ngClass]="{'invisible': Menu.sousMenu != 'service'}" class="col-md-12">
        <h6 style="text-transform: uppercase;">Le budget que vous élaborez maintenant sera pour l'exercice {{exerciceBudget}}</h6>
        <hr>
        <div class="form-group">
          <label>Veuillez choisir les projets qui entre dans votre plan budgétaire</label>
          <div class="input-group mb-3">
            <ngx-select [(ngModel)]="Service.idProjet" [items]="Service.ngxProjet" style="width: 60%;"></ngx-select>
            <div class="input-group-append">
              <button (click)="ajouterProjetPourElaboration()" class="btn btn-info">Ajouter pour l'élaboration</button>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item nav-cat">
            <span class="nav-link" [ngClass]="{'active cat-active': Service.categorie == 'fct'}" (click)="clickCategorie('fct')">FONCTIONNEMENTS</span>
          </li>
          <li class="nav-item nav-cat">
            <span class="nav-link" [ngClass]="{'active cat-active': Service.categorie == 'inv'}" (click)="clickCategorie('inv')">INVESTISSEMENTS</span>
          </li>
          <li class="nav-item nav-cat">
            <span class="nav-link" [ngClass]="{'active cat-active': Service.categorie == 'rec'}" (click)="clickCategorie('rec')">RECETTES TECHNIQUES</span>
          </li>
          <li class="nav-item nav-cat">
            <span class="nav-link" [ngClass]="{'active cat-active': Service.categorie == 'dep'}" (click)="clickCategorie('dep')">DEPENSES TECHNIQUES</span>
          </li>
        </ul>
        <!-- LISTE FONCTIONNEMENT -->
        <div [ngClass]="{'invisible': Service.categorie != 'fct'}" style="width: 100%;">
          <table class="table table-bordered">
            <thead style="text-align: center;">
              <tr>
                <td colspan="2">RUBRIQUE</td>
                <td *ngIf="Service.projetsChoisis.length > 0" [attr.colspan]="Service.projetsChoisis.length">CREDIT {{exerciceBudget}}</td>
                <td>PRECISION</td>
              </tr>
              <tr>
                <td>N° Compte</td>
                <td>Intitulé de Compte</td>
                <td *ngFor="let pr of Service.projetsChoisis">Projet N° {{pr.codeProjet}}</td>
                <td></td>
              </tr>
            </thead>
            <tbody *ngFor="let parent of Service.listeFCT; let indexP = index">
              <tr>
                <td (click)="clickParentFCT(indexP)" class="parent-compte" colspan="2">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
                <td *ngFor="let pr of Service.projetsChoisis"></td>
                <td></td>
              </tr>
              <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false}" >
                <td>{{enf.numeroCompte}}</td>
                <td>{{enf.libelleCompte}}</td>
                <td *ngFor="let pr of Service.projetsChoisis" id="cred_{{enf.numeroCompte+pr.idProjet}}" (input)="creditDansCelluleFCT(indexP,indexE,pr.idProjet,$event.target)" contenteditable="true"  style="text-align: right;"></td>
                <td id="prec_{{enf.numeroCompte}}" (input)="precisionDansCelluleFCT(indexP,indexE,$event.target)" contenteditable="true" ></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- FIN LISTE FONCTIONNEMENT -->
        <!-- LISTE INVESTISSEMENT -->
        <div [ngClass]="{'invisible': Service.categorie != 'inv'}" style="width: 100%;">
          <table class="table table-bordered">
            <thead style="text-align: center;">
              <tr>
                <td colspan="2">RUBRIQUE</td>
                <td *ngIf="Service.projetsChoisis.length > 0" [attr.colspan]="Service.projetsChoisis.length">CREDIT {{exerciceBudget}}</td>
                <td>PRECISION</td>
              </tr>
              <tr>
                <td>N° Compte</td>
                <td>Intitulé de Compte</td>
                <td *ngFor="let pr of Service.projetsChoisis">Projet N° {{pr.codeProjet}}</td>
                <td></td>
              </tr>
            </thead>
            <tbody *ngFor="let parent of Service.listeINV; let indexP = index">
              <tr>
                <td (click)="clickParentINV(indexP)" class="parent-compte" colspan="2">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
                <td *ngFor="let pr of Service.projetsChoisis"></td>
                <td></td>
              </tr>
              <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false}">
                <td>{{enf.numeroCompte}}</td>
                <td>{{enf.libelleCompte}}</td>
                <td *ngFor="let pr of Service.projetsChoisis" id="cred_{{enf.numeroCompte+pr.idProjet}}" (input)="creditDansCelluleINV(indexP,indexE,pr.idProjet,$event.target)" contenteditable="true" style="text-align: right;"></td>
                <td id="prec_{{enf.numeroCompte}}" (input)="precisionDansCelluleINV(indexP,indexE,$event.target)" contenteditable="true"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- FIN LISTE INVESTISSEMENT -->
        <!-- LISTE RECETTTES TECHNIQUES -->
        <div [ngClass]="{'invisible': Service.categorie != 'rec'}" style="width: 100%;">
          <table class="table table-bordered">
            <thead style="text-align: center;">
              <tr>
                <td colspan="2">RUBRIQUE</td>
                <td *ngIf="Service.projetsChoisis.length > 0" [attr.colspan]="Service.projetsChoisis.length">CREDIT {{exerciceBudget}}</td>
                <td>PRECISION</td>
              </tr>
              <tr>
                <td>N° Compte</td>
                <td>Intitulé de Compte</td>
                <td *ngFor="let pr of Service.projetsChoisis">Projet N° {{pr.codeProjet}}</td>
                <td></td>
              </tr>
            </thead>
            <tbody *ngFor="let parent of Service.listeREC; let indexP = index">
              <tr>
                <td (click)="clickParentREC(indexP)" class="parent-compte" colspan="2">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
                <td *ngFor="let pr of Service.projetsChoisis"></td>
                <td></td>
              </tr>
              <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false}">
                <td>{{enf.numeroCompte}}</td>
                <td>{{enf.libelleCompte}}</td>
                <td *ngFor="let pr of Service.projetsChoisis" id="cred_{{enf.numeroCompte+pr.idProjet}}" (input)="creditDansCelluleREC(indexP,indexE,pr.idProjet,$event.target)" contenteditable="true" style="text-align: right;"></td>
                <td id="prec_{{enf.numeroCompte}}" (input)="precisionDansCelluleREC(indexP,indexE,$event.target)" contenteditable="true"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- FIN RECETTTES TECHNIQUES -->
        <!-- LISTE DEPENSES TECHNIQUES -->
        <div [ngClass]="{'invisible': Service.categorie != 'dep'}" style="width: 100%;">
          <table class="table table-bordered">
            <thead style="text-align: center;">
              <tr>
                <td colspan="2">RUBRIQUE</td>
                <td *ngIf="Service.projetsChoisis.length > 0" [attr.colspan]="Service.projetsChoisis.length">CREDIT {{exerciceBudget}}</td>
                <td>PRECISION</td>
              </tr>
              <tr>
                <td>N° Compte</td>
                <td>Intitulé de Compte</td>
                <td *ngFor="let pr of Service.projetsChoisis">Projet N° {{pr.codeProjet}}</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let compte of Service.listeDEP">
                <td>{{compte.numeroCompte}}</td>
                <td>{{compte.libelleCompte}}</td>
                <td *ngFor="let pr of Service.projetsChoisis">{{sommeDEP(compte.numeroCompte,pr.idProjet)}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- FIN DEPENSES TECHNIQUES -->
        <button (click)="enregistrerBudget()" title="Enregistrer votre travail pour pouvoir l'éditer après" class="btn btn-info">Enregistrer</button>
        <button (click)="validerBudget()" title="Valider votre budget pour que le Service SE puisse travailler dessus" class="btn btn-info" style="margin-left: 200px;">Valider</button>
      </div>

      <!-- SERVICE SE -->
      <div [ngClass]="{'invisible': Menu.sousMenu != 'se'}" class="col-md-12">
        <h6 style="text-transform: uppercase;">Le budget que vous suggérez maintenant (pour le service choisi) sera pour l'exercice {{exerciceBudget}}</h6>
        <hr>
        <div class="form-group">
          <label>Service</label>
          <div class="input-group mb-3">
            <ngx-select [(ngModel)]="SE.refService" [items]="ngxServices" style="width: 500px;"></ngx-select>
            <div class="input-group-append">
              <button (click)="chargerBudgetServiceOuSe()" class="btn btn-info">Charger</button>
            </div>
          </div>
        </div>
      </div>

      <!-- VALIDATION DE BUDGET DE SERVIVE -->
      <div [ngClass]="{'invisible': Menu.sousMenu != 'val'}" class="col-md-12">
        <h6 style="text-transform: uppercase;">Validation de Budget de programme de chaque service</h6>
        <hr>
        <div class="form-group">
          <label>Service</label>
          <div class="input-group mb-3">
            <ngx-select [(ngModel)]="Validation.refService" [items]="ngxServices" style="width: 500px;"></ngx-select>
            <div class="input-group-append">
              <button (click)="chargerBudgetServiceEtSe()" class="btn btn-info">Charger</button>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <tr>
            <td #tdSepare>
              <div style="text-align: right;">Projets</div>
              <div class="bare-separateur"></div>
              <div>Service</div>
            </td>
            <td *ngFor="let pro of Validation.listeProjet">{{pro}}</td>
          </tr>
          <tr>
            <td>Service Cible</td>
          </tr>
          <tr>
            <td>Suivi et Evaluation</td>
          </tr>
        </table>
      </div>
    </div>
    
    <!-- MODAL -->
    <!-- MODAL CHARGEMENT -->
    <div #modalChargement class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="loader">
      </div>
      </div>
    </div>

  </div>
</div>

<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>