.col1
{
    border: solid 3px white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   /* box-shadow: 0px 2px 2px silver;*/
}
.titre-info
{
    background-color: rgb(3,158,194);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.titre-info2
{
    background-color: rgb(3,158,194);
    border-radius: 4px;
    width: 99.9%;
    margin: auto;
    margin-top: 1%
}

.titre-info1
{
    background-color: rgb(3,158,194);
    border-radius: 4px;
    width: 99.9%;
    margin: auto;
    margin-top: 1%
}
.titre-info h1
{
    color: white; 
    text-align: center;
    margin: auto;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.texte_info
{
    color: rgb(3,158,194);
}
.titre-info2 .info1
{
  width: 90%;
  color: white;
  text-align: center;
}
.titre-info1 .info1
{
  width: 100%;
  color: white;
  text-align: center;
}
.titre-info1 .info3
{
  width: 75%;
  color: white;
  text-align: center;
}
.titre-info2 .info2
{
    color: white;
    font-size: 100%;
    text-align: center
}
.titre-info1 .info2
{
    color: white;
    font-size: 100%;
}
.titre-info3 h6
{
    color: white;
    text-align: center;
    margin: auto
}
.titre_cotisation1
{
  text-align: center;
  background-color: purple;
  color: whitesmoke;
  font-weight: normal;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 100%;
}

.titre_cotisation2
{
  text-align: center;
  background-color: green;
  color: whitesmoke;
  font-weight: normal;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 100%;
}

.titre_cotisation3
{
  text-align: center;
  background-color: orange;
  color: whitesmoke;
  font-weight: normal;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 100%;
}

.titre_cotisation4
{
  text-align: center;
  background-color: red;
  color: whitesmoke;
  font-weight: normal;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 100%;
}
.content_cotisation
{
    transition: ease 0.5s all;
    border: solid 3px white;
    box-shadow: 0px 0px 2px silver;
    border-radius: 12px
}
.content_cotisation:hover
{
    box-shadow: 5px 5px 2px silver;
}
.voir
{
    float: right
}