  <div>
    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="row content-info">
          <div class="col-sm-12 col1">
            <div class="row titre-info">
              <h1 *ngIf="user">{{ user.nom }} {{ user.prenom }}</h1>
            </div>
            <div class="row">
              <div class="col-sm-4"><div class="row"><div class="col-sm-4 texte_info">Matricule :</div><div *ngIf="user" class="col-sm-8">{{ user.id }}</div></div></div>
              <div class="col-sm-4"><div class="row"><div class="col-sm-6 texte_info">Service :</div><div *ngIf="user" class="col-sm-6">{{ user.service }}</div></div></div>
              <div class="col-sm-4"><div class="row"><div class="col-sm-6 texte_info">Direction :</div><div *ngIf="user" class="col-sm-6">{{ user.direction }}</div></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

