<div class="container-fluid lien-foot">
    <h1 class="titre_lien_foot_h1">Liste des menus</h1>
    <div class="row">
        <div class="col-sm-12 footer-col2">
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="titre-h5-footer-col1">Lien principal</h5>
                    <ul class="menu-footer">
                        <li>Accueil</li>
                        <li>Services</li>
                        <li>Actualités</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 class="titre-h5-footer-col2">Employeur</h5>
                    <ul class="menu-footer">
                        <li>
                            <a (click)="employeurAdresse()">Modification d'adresse</a>
                        </li>
                        <li>
                            <a (click)="employeurCompteBancaire()">Modification compte bancaire</a>
                        </li>
                        <li>
                            <a (click)="employeurResponsable()">Modification responsable</a>
                        </li>
                        <li>
                            <a (click)="employeurAvisEmbauche()">Déclaration d'embauche</a>
                        </li>
                        <li>
                            <a (click)="employeurDn()">Déclaration nominative</a>
                        </li>
                        <li>
                            <a (click)="employeurSituationCompte()">Situation compte</a>
                        </li>
                        <li>
                            <a (click)="employeurHistoriqueDn()">Historique DN</a>
                        </li>
                        <li>
                            <a (click)="employeurListeEmploye()">Liste des employés</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 class="titre-h5-footer-col2">Travailleur</h5>
                    <ul class="menu-footer">
                        <li>
                            <a (click)="travailleurAdresse()">Modification d'adresse</a>
                        </li>
                        <li>
                            <a (click)="travailleurCompteBancaire()">Modification compte bancaire</a>
                        </li>
                        <li>
                            <a (click)="travailleurSalaire()">Historique des salaires</a>
                        </li>
                        <li>
                            <a (click)="travailleurAvisEmbauche()">Déclaration d'embauche</a>
                        </li>
                        <li>
                            <a (click)="travailleurIj()">Indemnité journalière</a>
                        </li>
                        <li>
                            <a (click)="travailleurTransfertCotisation()">Demande de transfert de cotisation</a>
                        </li>
                        <!-- <li>
                            <a (click)="travailleurPaiementOrdreRecette()">Demande de paiement ordre de recette</a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 class="titre-h5-footer-col2">Agent</h5>
                    <ul class="menu-footer">
                        <li>
                            <a (click)="agentDimm()">Demande d'immatriculation</a>
                        </li>
                        <li>
                            <a (click)="agentDn()">Déclaration nominative</a>
                        </li>
                        <li>
                            <a (click)="agentIjPf()">Indemnité journalière</a>
                        </li>
                        <li>
                            <a (click)="agentReglementOp()">Règlement OP</a>
                        </li>
                        <li>
                            <a (click)="agentListeTransfert()">Liste transfert de cotisation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
