<div class="container-fluid actualites" id="actualite">
  <div class="container">
    <h1 class="my-4 titre_actualites_h1">LES ACTUALITES A LA CNaPS</h1>
    <div class="row">
      <div class="col-xs-12 col-md-3 col-sm-6 portfolio-item div_actualites">
        <div class="card h-100 contenu_actualite">
          <img class="card-img-top" src="../../assets/img/actualite.jpg" alt="">
          <div class="card-body div_actualites1">
            <h4 class="card-title titre_actualites_h4">
              <a href="#">Project One</a>
            </h4>
            <p class="card-text description_actualites">
              &nbsp;&nbsp;
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt?
            </p>
            <hr>
            <h6 class="date_actualite">26 Juin 2018</h6>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6 portfolio-item div_actualites">
        <div class="card h-100 contenu_actualite">
          <img class="card-img-top" src="../../assets/img/actualite.jpg" alt="">
          <div class="card-body div_actualites1">
            <h4 class="card-title titre_actualites_h4">
              <a href="#">Project One</a>
            </h4>
            <p class="card-text description_actualites">
              &nbsp;&nbsp;
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt?
            </p>
            <hr>
            <h6 class="date_actualite">26 Juin 2018</h6>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6 portfolio-item div_actualites">
        <div class="card h-100 contenu_actualite">
          <img class="card-img-top" src="../../assets/img/actualite.jpg" alt="">
          <div class="card-body div_actualites1">
            <h4 class="card-title titre_actualites_h4">
              <a href="#">Project One</a>
            </h4>
            <p class="card-text description_actualites">
              &nbsp;&nbsp;
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt?
            </p>
            <hr>
            <h6 class="date_actualite">26 Juin 2018</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
