<app-banniere></app-banniere>
<app-menu-centre></app-menu-centre>
<app-info-personnes></app-info-personnes>

<div class="container-fluid">
  <div class="col-sm-12 content_page">
    <div class="row titre_page">
      <h4>Détails du livre</h4>
    </div>

    <div class="row">
      <div class="col-sm-4">
       <app-calendrier></app-calendrier>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Nom </label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                La pratique professionnelle de communication
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Type de formation</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Interne
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Nature de la formation</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Dîplomate
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Lieu</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Salle 4
              </li>
            </ul>
          </div>
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Début</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                09 Novembre 2018
              </li>
            </ul>
          </div>
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Fin</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                20 Novembre 2018
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-8">
        <div class="form-group row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-info btn-block">S'inscrire</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-danger btn-block">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>
