
<div class="row">
	<div class="col-md-7">
		<h3>Facture Medicaments</h3>
	</div>
	 
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Designation</th>
            <th>Qte(Boite,Comprimé)</th>
            <th>Montant Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of fieldArray; let i = index">
            <td>
                <input disabled="true" [(ngModel)]="field.designation" class="form-control" type="text" name="{{field.code}}" />
            </td>
            <td>
                <input disabled="true" [(ngModel)]="field.qt" type="text"  class="form-control" name="{{field.name}}" />
            </td>
            <td>
                <input disabled="true" [(ngModel)]="field.total" class="form-control" type="number" name="{{field.price}}" />
            </td>

            <td>
                <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)"><i class="fa fa-trash"></i> Supprimer</button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.designation" name="newAttributeCode" />
            </td>
            <td>
                <input class="form-control" type="text" id="newAttributeName" placeholder="Ex:1 boite" [(ngModel)]="newAttribute.qt" name="newAttributeName" />
            </td>
            <td>
                <input class="form-control" type="number" id="newAttributePrice" [(ngModel)]="newAttribute.total" name="newAttributePrice" />
            </td>
            <td>
                <button class="btn btn-default" type="button" (click)="addFieldValue()"> <i class="fa fa-plus"></i> Ajouter </button>
            </td>
        </tr>
    </tbody>
</table>
