<app-banniere></app-banniere>
<app-menu-centre></app-menu-centre>
<app-info-personnes></app-info-personnes>
<div class="container-fluid">
  <div class="col-sm-12 content_page">
    <div class="row titre_page4">
      <h4>Demande Rappel sur droit non perçu </h4>
    </div>
    <form (ngSubmit)="onSaveCLick()" [formGroup]="ijForm" class="form-inline">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="text-center"> Ref - {{referenceDemandeRap}}</h5>
        </div>
        <div class="col-sm-12">
            <h6>
                <form>
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input type="radio" class="custom-control-input" id="defaultInline0" [value]="true" [(ngModel)]="_demande">
                      <label class="custom-control-label" for="defaultInline0">Travailleur</label>
                    </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline1" [value]="true" [(ngModel)]="_demande">
                    <label class="custom-control-label" for="defaultInline1">Conjoint</label>
                  </div>
                  
                  <!-- Default inline 2-->
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline2" [value]="false" [(ngModel)]="_demande">
                    <label class="custom-control-label" for="defaultInline2">Tuteur</label>
                  </div>
                </form> 
              </h6>
          <h6>
            <strong>Informations requises</strong>
          </h6>
        </div>
        <!-- dynamic form -->
        <div class="col-sm-12" *ngFor="let input of inputs">
          <app-dynamic-input [input]="input" [form]="ijForm"></app-dynamic-input>
        </div>
        <!-- dynamic form -->
        
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
          <div *ngIf="!show">
            <button type="submit" class="btn btn4 btn-block" [disabled]="!ijForm.valid">Enregistrer</button>
            <br>
          </div>
          <div *ngIf="show">
            <div class="loader"></div>
            <br>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>