<app-banniere></app-banniere>
<app-info-agents></app-info-agents>

<div class="container-fluid">
  <div class="col-sm-12 content_page">
    <div class="row titre_page">
      <h4>BUDGET DE PROGRAMME</h4>
    </div>

    <!-- MENU -->
    <div class="conteneur-de-menu">
      <ul class="menu1">
        <li (click)="clickInMenu1('bp-saisie')">
          <span>SAISIE</span>
        </li>
        <li>
          <span (click)="clickInMenu1('bp-elaboration')">ELABORATION</span>
        </li>
        <li class="menu1-active">
          <span>SUIVI</span>
        </li>
      </ul>
    </div>

    <div class="conteneur-de-menu2">
      <ul class="menu1">
        <li (click)="clickSousMenu('general')" [ngClass]="{'menu1-active': Menu.sousMenu == 'general'}">
          <span>BUDGET ANNUEL GENERAL</span>
        </li>
        <li (click)="clickSousMenu('service')" [ngClass]="{'menu1-active': Menu.sousMenu == 'service'}">
          <span>BUDGET ANNUEL PAR SERVICE</span>
        </li>
        <li (click)="clickSousMenu('rliste')" [ngClass]="{'menu1-active': Menu.sousMenu == 'rliste'}">
          <span>REMANIEMENTS</span>
        </li>
      </ul>
    </div>
    <!-- FIN MENU -->

    <!-- CONTENU -->
    <div class="row" style="padding: 10px;">

      <!-- GENERAL -->
      <div [ngClass]="{'invisible': Menu.sousMenu != 'general'}" class="col-md-12">
        <h6 style="text-transform: uppercase;">Suivi du budget annuel tout service cofondu</h6>
        <hr>
        <div class="form-group">
          <label>Exercice</label>
          <div class="input-group mb-3">
            <input [(ngModel)]="this.General.exercice" type="number" min="1940" class="form-control" >
            <div class="input-group-append">
              <button (click)="chargerBudgetAnnuelGeneral()" class="btn btn-info">Charger</button>
            </div>
          </div>
        </div>
        <table *ngIf="General.donneeExiste" class="table table-bordered">
          <thead class="thead-budget">
            <tr>
              <td colspan="2">RUBRIQUES</td>
              <td colspan="3">PROJETS</td>
            </tr>
            <tr>
              <td>N° Compte</td>
              <td>Intitulé de Compte</td>
              <td class="td-projet" colspan="3">
                <span (click)="clickAutreProjet('General',-1)" class="icon-btn"><i class="fa fa-caret-left"></i></span>
                <span>{{General.listeProjet[General.indiceProjet].codeProjet}}</span>
                <span (click)="clickAutreProjet('General',1)" class="icon-btn"><i class="fa fa-caret-right"></i></span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>Initial</td>
              <td>Actuel</td>
              <td>Utilisé</td>
            </tr>
          </thead>
          <!-- FONCTIONNEMENTS -->
          <tbody>
            <tr>
              <td (click)="clickCategorieFCT('General')" class="g-parent-compte" colspan="5">FONCTIONNEMENTS</td>
            </tr>
          </tbody>
          <tbody *ngFor="let parent of General.listeFCT; let indexP = index" [ngClass]="{'invisible': !General.visibleFCT}">
            <tr>
              <td (click)="clickParentFCT('General',indexP)" class="parent-compte" colspan="5">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
            </tr>
            <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false, 'ligne-gris': indexE%2 == 0}">
              <td class="enfant-compte">{{enf.numeroCompte}}</td>
              <td>{{enf.libelleCompte}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurInitial')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurOperation')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurUtilise')}}</td>
            </tr>
          </tbody>
          <!-- FIN FONCTIONNEMENTS -->
          <!-- INVESTISSEMENT -->
          <tbody>
            <tr>
              <td (click)="clickCategorieINV('General')" class="g-parent-compte" colspan="5">INVESTISSEMENT</td>
            </tr>
          </tbody>
          <tbody *ngFor="let parent of General.listeINV; let indexP = index" [ngClass]="{'invisible': !General.visibleINV}">
            <tr>
              <td (click)="clickParentINV('General',indexP)" class="parent-compte" colspan="5">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
            </tr>
            <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false, 'ligne-gris': indexE%2 == 0}">
              <td class="enfant-compte">{{enf.numeroCompte}}</td>
              <td>{{enf.libelleCompte}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurInitial')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurOperation')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurUtilise')}}</td>
            </tr>
          </tbody>
          <!-- FIN INVESTISSEMENT -->
          <!-- RECETTES -->
          <tbody>
            <tr>
              <td (click)="clickCategorieREC('General')" class="g-parent-compte" colspan="5">RECETTES</td>
            </tr>
          </tbody>
          <tbody *ngFor="let parent of General.listeREC; let indexP = index" [ngClass]="{'invisible': !General.visibleREC}">
            <tr>
              <td (click)="clickParentREC('General',indexP)" class="parent-compte" colspan="5">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
            </tr>
            <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false, 'ligne-gris': indexE%2 == 0}">
              <td class="enfant-compte">{{enf.numeroCompte}}</td>
              <td>{{enf.libelleCompte}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurInitial')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurOperation')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'General','valeurUtilise')}}</td>
            </tr>
          </tbody>
          <!-- FIN RECETTES -->
          <!-- DEPENSES -->
          <tbody>
            <tr>
              <td (click)="clickCategorieDEP('General')" class="g-parent-compte" colspan="5">DEPENSES</td>
            </tr>
          </tbody>
          <tbody [ngClass]="{'invisible': !General.visibleDEP}">
            <tr *ngFor="let dep of General.listeDEP; let index = index" [ngClass]="{'ligne-gris': index%2 == 0}">
              <td class="enfant-compte">{{dep.numeroCompte}}</td>
              <td>{{dep.libelleCompte}}</td>
              <td style="text-align: right;">{{sommeDEP(dep.numeroCompte,'General','valeurInitial')}}</td>
              <td style="text-align: right;">{{sommeDEP(dep.numeroCompte,'General','valeurOperation')}}</td>
              <td style="text-align: right;">{{sommeDEP(dep.numeroCompte,'General','valeurUtilise')}}</td>
            </tr>
          </tbody>
          <!-- FIN DEPENSES -->
        </table>
      </div>

      <!-- SERVICE -->
      <div [ngClass]="{'invisible': Menu.sousMenu != 'service'}" class="col-md-12">
        <h6 style="text-transform: uppercase;">Suivi du budget annuel par service</h6>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Service</label>
              <ngx-select [(ngModel)]="Service.filtre.refService" [items]="Service.ngxService"></ngx-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Exercice</label>
              <div class="input-group mb-3">
                <input [(ngModel)]="Service.filtre.anneeProjet" type="number" min="1940" class="form-control">
                <div class="input-group-append">
                  <button (click)="chargerBudgetAnnuelService()" class="btn btn-info">Charger</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table *ngIf="Service.donneeExiste" class="table table-bordered">
          <thead class="thead-budget">
            <tr>
              <td colspan="2">RUBRIQUES</td>
              <td colspan="3">PROJETS</td>
            </tr>
            <tr>
              <td>N° Compte</td>
              <td>Intitulé de Compte</td>
              <td class="td-projet" colspan="3">
                <span (click)="clickAutreProjet('Service',-1)" class="icon-btn"><i class="fa fa-caret-left"></i></span>
                <span>{{Service.listeProjet[Service.indiceProjet].codeProjet}}</span>
                <span (click)="clickAutreProjet('Service',1)" class="icon-btn"><i class="fa fa-caret-right"></i></span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>Initial</td>
              <td>Actuel</td>
              <td>Utilisé</td>
            </tr>
          </thead>
          <!-- FONCTIONNEMENTS -->
          <tbody>
            <tr>
              <td (click)="clickCategorieFCT('Service')" class="g-parent-compte" colspan="5">FONCTIONNEMENTS</td>
            </tr>
          </tbody>
          <tbody *ngFor="let parent of Service.listeFCT; let indexP = index" [ngClass]="{'invisible': !Service.visibleFCT}">
            <tr>
              <td (click)="clickParentFCT('Service',indexP)" class="parent-compte" colspan="5">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
            </tr>
            <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false, 'ligne-gris': indexE%2 == 0}">
              <td class="enfant-compte">{{enf.numeroCompte}}</td>
              <td>{{enf.libelleCompte}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurInitial')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurOperation')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurUtilise')}}</td>
            </tr>
          </tbody>
          <!-- FIN FONCTIONNEMENTS -->
          <!-- INVESTISSEMENT -->
          <tbody>
            <tr>
              <td (click)="clickCategorieINV('Service')" class="g-parent-compte" colspan="5">INVESTISSEMENT</td>
            </tr>
          </tbody>
          <tbody *ngFor="let parent of Service.listeINV; let indexP = index" [ngClass]="{'invisible': !Service.visibleINV}">
            <tr>
              <td (click)="clickParentINV('Service',indexP)" class="parent-compte" colspan="5">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
            </tr>
            <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false, 'ligne-gris': indexE%2 == 0}">
              <td class="enfant-compte">{{enf.numeroCompte}}</td>
              <td>{{enf.libelleCompte}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurInitial')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurOperation')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurUtilise')}}</td>
            </tr>
          </tbody>
          <!-- FIN INVESTISSEMENT -->
          <!-- RECETTES -->
          <tbody>
            <tr>
              <td (click)="clickCategorieREC('Service')" class="g-parent-compte" colspan="5">RECETTES</td>
            </tr>
          </tbody>
          <tbody *ngFor="let parent of Service.listeREC; let indexP = index" [ngClass]="{'invisible': !Service.visibleREC}">
            <tr>
              <td (click)="clickParentREC('Service',indexP)" class="parent-compte" colspan="5">{{parent.numeroCompte+" - "+parent.libelleCompte}}</td>
            </tr>
            <tr *ngFor="let enf of parent.enfants; let indexE = index" [ngClass]="{'invisible': parent.visible == false, 'ligne-gris': indexE%2 == 0}">
              <td class="enfant-compte">{{enf.numeroCompte}}</td>
              <td>{{enf.libelleCompte}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurInitial')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurOperation')}}</td>
              <td style="text-align: right;">{{avoirValeur(enf,'Service','valeurUtilise')}}</td>
            </tr>
          </tbody>
          <!-- FIN RECETTES -->
          <!-- DEPENSES -->
          <tbody>
            <tr>
              <td (click)="clickCategorieDEP('Service')" class="g-parent-compte" colspan="5">DEPENSES</td>
            </tr>
          </tbody>
          <tbody [ngClass]="{'invisible': !Service.visibleDEP}">
            <tr *ngFor="let dep of Service.listeDEP; let index = index" [ngClass]="{'ligne-gris': index%2 == 0}">
              <td class="enfant-compte">{{dep.numeroCompte}}</td>
              <td>{{dep.libelleCompte}}</td>
              <td style="text-align: right;">{{sommeDEP(dep.numeroCompte,'Service','valeurInitial')}}</td>
              <td style="text-align: right;">{{sommeDEP(dep.numeroCompte,'Service','valeurOperation')}}</td>
              <td style="text-align: right;">{{sommeDEP(dep.numeroCompte,'Service','valeurUtilise')}}</td>
            </tr>
          </tbody>
          <!-- FIN DEPENSES -->
        </table>
      </div>

      <!-- LISTE DES REMANIEMENTS -->
      <div [ngClass]="{'invisible': Menu.sousMenu != 'rliste'}" class="col-md-12">
        <h6 style="text-transform: uppercase;">LISTE DES REMANIEMENTS</h6>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Date</label>
              <input [(ngModel)]="RListe.filtre.date" type="date" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Code Projet</label>
              <input [(ngModel)]="RListe.filtre.codeProjet" type="text" class="form-control" placeholder="Code Projet">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Compte</label>
              <input [(ngModel)]="RListe.filtre.compte" type="text" class="form-control" placeholder="N° Compte">
            </div>
          </div>
        </div>
        <button (click)="saisieNouvRemaniement()" class="btn btn-info" style="margin-bottom: 5px;">Saisie d'un nouveau remaniement</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Projet</th>
              <th>C. Source</th>
              <th>C. Dest</th>
              <th>Valeur</th>
              <th>Service Source</th>
              <th>Service Dest</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of RListe.liste">
              <td>{{avoirDateSlash(r.dateOperation)}}</td>
              <td>{{avoirDateSlash(r.codeProjet)}}</td>
              <td>{{avoirDateSlash(r.rubriqueSource)}}</td>
              <td>{{avoirDateSlash(r.rubriqueDest)}}</td>
              <td>{{avoirDateSlash(r.valeurRemanier)}}</td>
              <td>{{avoirDateSlash(r.refServiceSource)}}</td>
              <td>{{avoirDateSlash(r.refServiceDest)}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- SAISIE REMANIEMENT -->
      <div [ngClass]="{'invisible': Menu.sousMenu != 'rsaisie'}" class="col-md-12">
        <h6 style="text-transform: uppercase;">OPERATION DE REMANIEMENT</h6>
        <hr>
        <div class="form-group">
          <label>Projet</label>
          <select [(ngModel)]="RSaisie.champ.idProjet" (change)="projetChange()" class="form-control custom-select"></select>
        </div>
        <div class="form-group">
          <label>Service demandeur</label>
          <ngx-select [(ngModel)]="RSaisie.champ.refServiceDest" [items]="RSaisie.listeServiceDansProjet" style="width: 100%;"></ngx-select>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <label>Rubrique en manque de budget</label>
            <input [(ngModel)]="RSaisie.champ.rubriqueDest" (ngModelChange)="rubriqueDestChange()" type="text" name="rubrManque" matInput [formControl]="RSaisie.rubrControl" [matAutocomplete]="rubrManque" class="form-control" [ngClass]="{'mat-input-element' : RSaisie.utiliseClass}">

						<mat-autocomplete #rubrManque="matAutocomplete">
						  <mat-option *ngFor="let option of RSaisie.rubrOptions" [value]="option">{{option}}</mat-option>
						</mat-autocomplete>
          </div>
          <div class="col-md-4 form-group">
            <label>Budget du rubrique</label>
            <input [(ngModel)]="RSaisie.champ.budgetCptDest" type="text" class="form-control" readonly>
          </div>
          <div class="col-md-4 form-group">
            <label>Budget disponible du rubrique</label>
            <input [(ngModel)]="RSaisie.champ.budgetCptDestDisp" type="text" class="form-control" readonly>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label>Valeur à remanier</label>
          <input [(ngModel)]="RSaisie.champ.valeurRemanier" (ngModelChange)="valeurRemanierChange()" type="text" class="form-control">
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4 form-group">
            <label>Service source</label>
            <ngx-select [(ngModel)]="RSaisie.champ.refServiceSource" [items]="RSaisie.listeServiceDansProjet" style="width: 100%;"></ngx-select>
          </div>
          <div class="col-md-3 form-group">
            <label>Rubrique source</label>
            <input [(ngModel)]="RSaisie.champ.rubriqueSource" (ngModelChange)="rubriqueSourceChange()" type="text" name="rubrSource" matInput [formControl]="RSaisie.rubrControl" [matAutocomplete]="rubrSource" class="form-control" [ngClass]="{'mat-input-element' : RSaisie.utiliseClass}">

						<mat-autocomplete #rubrSource="matAutocomplete">
						  <mat-option *ngFor="let option of RSaisie.rubrOptions" [value]="option">{{option}}</mat-option>
						</mat-autocomplete>
          </div>
          <div class="col-md-3 form-group">
            <label>Budget disponible</label>
            <input [(ngModel)]="RSaisie.champ.budgetCptSourceDisp" type="text" class="form-control" readonly>
          </div>
          <div class="col-md-2 form-group">
            <label style="font-size: 12px; opacity: 0.8;">(Système)</label>
            <input type="submit" value="Suggérer" class="form-control btn btn-info">
          </div>
        </div>
        <hr>
        <button *ngIf="!RSaisie.charge" (click)="effectuerRemaniement()" class="btn btn-info">Effectuer l'opération</button>
        <div *ngIf="RSaisie.charge" class="loader"></div>
      </div>

    </div>
    
    <!-- MODAL -->
    <!-- MODAL CHARGEMENT -->
    <div #modalChargement class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="loader">
      </div>
      </div>
    </div>

  </div>
</div>

<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>