<app-banniere></app-banniere>
<app-info-agents></app-info-agents>

<div class="container-fluid">
	<div class="col-sm-12 content_page">
		<div class="row titre_page">
	      <h4>IMMOBILISATIONS</h4>
		</div>
		<!-- MENU -->
		<div class="conteneur-de-menu">
			<ul class="menu1">
				<li (click)="clickInMenu1('immo-dmd')"><span>DEMANDE</span></li>
				<li class="menu1-active"><span>LISTE</span></li>
				<li (click)="clickInMenu1('immo-art')"><span>ARTICLE</span></li>
				<li (click)="clickInMenu1('immo-mvt')"><span>MOUVEMENT</span></li>
				<li (click)="clickInMenu1('immo-inventaire')"><span>INVENTAIRE</span></li>
			</ul>
		</div>

	    <div class="conteneur-de-menu2">
			<ul class="menu1">
				<li (click)="clickSousMenu('liste_dmd_mob', 'DmdMob')" [ngClass]="{'menu1-active': Menu.sousMenu == 'liste_dmd_mob'}"><span>DEMANDE MOBILIER</span></li>
				<li (click)="clickSousMenu('liste_dmd_rep_mob', 'DmdRepMob')" [ngClass]="{'menu1-active': Menu.sousMenu == 'liste_dmd_rep_mob'}"><span>DEMANDE REPARATION MOBILIER</span></li>
				<li (click)="clickSousMenu('liste_dmd_bat', 'DmdBat')" [ngClass]="{'menu1-active': Menu.sousMenu == 'liste_dmd_bat'}"><span>DEMANDE ENTRETIENT BATIMENT</span></li>
			</ul>
		</div>
		<!-- FIN MENU -->

		<!-- LISTE -->
		<!-- LISTE DMD MOB !-->
		<div class="row" style="padding: 10px;">
			<div *ngIf="Menu.sousMenu == 'liste_dmd_mob'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Liste des demandes de mobilier</h6>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Service</label><br>
							<select [(ngModel)]="DmdMob.filtre.refService" (change)="filtreChange('DmdMob')" class="form-control custom-select">
								<option *ngFor="let s of listeService" value="{{s.code_service}}">{{s.libelle_service}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Demandeur</label><br>
							<input [(ngModel)]="DmdMob.filtre.refIndividu" (ngModelChange)="filtreChange('DmdMob')" type="text" placeholder="Matricule" class="form-control input-upper" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Statut</label>
							<select [(ngModel)]="DmdMob.filtre.idEtatDmd" (change)="filtreChange('DmdMob')" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let e of DmdMob.listeEtat" value="{{e.idEtatDmd}}">{{e.libelle}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Date</label>
							<input [(ngModel)]="DmdMob.filtre.dateDmdImmo" (ngModelChange)="filtreChange('DmdMob')" type="date" class="form-control" />
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div *ngFor="let dmd of DmdMob.liste; let index = index" class="col-md-6" style="margin-bottom: 10px;">
						<div class="liste-dmd-item">
							<p><span class="dmd-l-date">{{avoirDate(dmd.dateDmdImmo)}}</span></p>
							<p><u>Référence</u> : <span class="dmd-l-ref">{{dmd.reference}}</span></p>
							<p><u>Statut</u> : <label>{{avoirEtatDmd(dmd.idEtatDmd, 'DmdMob')}}</label></p>
							<div class="dmd-l-obs"><u>Observation</u> : {{dmd.observation}}</div>
							<div class="dmd-l-btn">
								<button (click)="ouvreDetailMob(index)" class="btn btn-info">Voir</button>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="DmdMob.chargeListe" class="loader"></div>
				<div *ngIf="DmdMob.liste.length == 0 && DmdMob.chargeListe == false" style="text-align: center;">
					<span>Pas de résultat</span>
				</div>
				<nav *ngIf="DmdMob.liste.length > 0 && DmdMob.chargeListe == false" aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li *ngIf="DmdMob.page > 1" (click)="pagePrecedent('DmdMob')" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-left"></i></button>
				    </li>
				    <li class="page-item disabled"><span class="page-link">Page {{DmdMob.page}}</span></li>
				    <li *ngIf="DmdMob.liste.length == ligneMax" (click)="pageSuivant('DmdMob')" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-right"></i></button>
				    </li>
				  </ul>
				</nav>
			</div>
			<div *ngIf="Menu.sousMenu == 'liste_dmd_rep_mob'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Liste des demandes de réparation de mobilier</h6>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Service</label><br>
							<select [(ngModel)]="DmdRepMob.filtre.refService" (change)="filtreChange('DmdRepMob')" class="form-control custom-select">
								<option *ngFor="let s of listeService" value="{{s.code_service}}">{{s.libelle_service}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Demandeur</label><br>
							<input [(ngModel)]="DmdRepMob.filtre.refIndividu" (ngModelChange)="filtreChange('DmdRepMob')" placeholder="Matricule" type="text" class="form-control input-upper" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Article</label><br>
							<input [(ngModel)]="DmdRepMob.filtre.nomArticle" (ngModelChange)="filtreChange('DmdRepMob')" type="text" placeholder="Désignation" class="form-control input-upper" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Statut</label>
							<select [(ngModel)]="DmdRepMob.filtre.idEtatDmd" (change)="filtreChange('DmdRepMob')" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let e of DmdRepMob.listeEtat" value="{{e.idEtatDmd}}">{{e.libelle}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Date</label>
							<input [(ngModel)]="DmdRepMob.filtre.dateDmdRep" (ngModelChange)="filtreChange('DmdRepMob')" type="date" class="form-control" />
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div *ngFor="let dmd of DmdRepMob.liste; let index = index" class="col-md-6" style="margin-bottom: 10px;">
						<div class="liste-dmd-item">
							<p><span class="dmd-l-date">{{avoirDate(dmd.dateDmdRep)}}</span></p>
							<p><u>Référence</u> : <span class="dmd-l-ref">{{dmd.reference}}</span></p>
							<p><u>Statut</u> : <label>{{avoirEtatDmd(dmd.idEtatDmd, 'DmdRepMob')}}</label></p>
							<div class="dmd-l-obs"><u>Motif</u> : {{dmd.motif}}</div>
							<div class="dmd-l-btn">
								<button (click)="ouvreDetailRepMob(index)" class="btn btn-info">Voir</button>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="DmdRepMob.chargeListe" class="loader"></div>
				<div *ngIf="DmdRepMob.liste.length == 0 && DmdRepMob.chargeListe == false" style="text-align: center;">
					<span>Pas de résultat</span>
				</div>
				<nav *ngIf="DmdRepMob.liste.length > 0 && DmdRepMob.chargeListe == false" aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li *ngIf="DmdRepMob.page > 1" (click)="pagePrecedent('DmdRepMob')" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-left"></i></button>
				    </li>
				    <li class="page-item disabled"><span class="page-link">Page {{DmdRepMob.page}}</span></li>
				    <li *ngIf="DmdRepMob.liste.length == ligneMax" (click)="pageSuivant('DmdRepMob')" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-right"></i></button>
				    </li>
				  </ul>
				</nav>
			</div>
			<div *ngIf="Menu.sousMenu == 'liste_dmd_bat'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Liste des demandes d'entretient de batiment</h6>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Service</label><br>
							<select [(ngModel)]="DmdBat.filtre.refService" (change)="filtreChange('DmdBat')" class="form-control custom-select">
								<option *ngFor="let s of listeService" value="{{s.code_service}}">{{s.libelle_service}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Demandeur</label><br>
							<input [(ngModel)]="DmdBat.filtre.refIndividu" (change)="filtreChange('DmdBat')" type="text" placeholder="Matricule" class="form-control input-upper" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Site</label><br>
							<select [(ngModel)]="DmdBat.filtre.refSite" (change)="filtreChange('DmdBat')" class="form-control custom-select">
								<option>SITE</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Statut</label>
							<select [(ngModel)]="DmdBat.filtre.idEtatDmd" (change)="filtreChange('DmdBat')" class="form-control custom-select">
								<option *ngFor="let e of DmdBat.listeEtat" value="{{e.idEtatDmd}}">{{e.libelle}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Type</label><br>
							<select [(ngModel)]="DmdBat.filtre.idTypeEntrBat" (change)="filtreChange('DmdBat')" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let t of DmdBat.listeType" value="{{t.idTypeEntrBat}}">{{t.libelle}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Caractéristique</label>
							<select [(ngModel)]="DmdBat.filtre.idCaractEntrBat" (change)="filtreChange('DmdBat')" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let c of DmdBat.listeCaract" value="{{c.idCaractEntrBat}}">{{c.libelle}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Enumération</label>
							<select [(ngModel)]="DmdBat.filtre.idEnumEntrBat" (change)="filtreChange('DmdBat')" class="form-control custom-select">
								<option value="0"></option>
								<option *ngFor="let e of DmdBat.listeEnum" value="{{e.idEnumEntrBat}}">{{e.libelle}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Date</label>
							<input [(ngModel)]="DmdBat.filtre.date" (change)="filtreChange('DmdBat')" type="date" class="form-control" />
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div *ngFor="let dmd of DmdBat.liste; let index = index" class="col-md-6" style="margin-bottom: 10px;">
						<div class="liste-dmd-item">
							<p><span class="dmd-l-date">{{avoirDate(dmd.date)}}</span></p>
							<p><u>Référence</u> : <span class="dmd-l-ref">{{dmd.reference}}</span></p>
							<p><u>Statut</u> : <label>{{avoirEtatDmd(dmd.idEtatDmd, 'DmdBat')}}</label></p>
							<div class="dmd-l-obs"><u>Motif</u> : {{dmd.motif}}</div>
							<div class="dmd-l-btn">
								<button (click)="ouvreDetailBat(index)" class="btn btn-info">Voir</button>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="DmdBat.chargeListe" class="loader"></div>
				<div *ngIf="DmdBat.liste.length == 0 && DmdBat.chargeListe == false" style="text-align: center;">
					<span>Pas de résultat</span>
				</div>
				<nav *ngIf="DmdBat.liste.length > 0 && DmdBat.chargeListe == false" aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li *ngIf="DmdBat.page > 1" (click)="pagePrecedent('DmdBat')" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-left"></i></button>
				    </li>
				    <li class="page-item disabled"><span class="page-link">Page {{DmdBat.page}}</span></li>
				    <li *ngIf="DmdBat.liste.length == ligneMax" (click)="pageSuivant('DmdBat')" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-right"></i></button>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>

	<!-- MODAL -->
	<!-- MODAL DETAIL DEMANDE MOBILIER -->
	<div #modalDetailMob class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	  <div *ngIf="DmdMob.liste[DmdMob.indice] != undefined" class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">Référence: {{DmdMob.liste[DmdMob.indice].reference}}</h6>
	        <button *ngIf="DmdMob.chargeStatutChange == false" type="button" class="close" (click)="fermeDetailMob()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
      		<span class="dmd-modal-date">{{avoirDate(DmdMob.liste[DmdMob.indice].dateDmdImmo)}}</span>
	      	<div class="form-group">
				<label>Service</label>
				<input type="text" value="{{DmdMob.liste[DmdMob.indice].refService}}" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Demandeur</label>
				<input type="text" value="{{DmdMob.liste[DmdMob.indice].refIndividu}}" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Statut</label>
				<select [(ngModel)]="DmdMob.nouveauEtat" [value]="DmdMob.nouveauEtat" (change)="etatDmdChange('DmdMob')" class="form-control custom-select">
					<option *ngFor="let etat of DmdMob.listeEtat" value="{{etat.idEtatDmd}}">{{etat.libelle}}</option>
				</select>
			</div>
			<table class="table table-striped">
				<thead>
					<th>Article</th>
					<th>Qte</th>
					<th>Pour</th>
					<th>Date début</th>
					<th>Date fin</th>
				</thead>
				<tbody>
					<tr *ngFor="let art of DmdMob.articlesDmds">
						<td>{{art.refArticle}}</td>
						<td>{{art.quantite}}</td>
						<td>{{art.typeDmd}}</td>
						<td>{{avoirDateSlash(art.dateDeBesoin)}}</td>
						<td>{{avoirDateSlash(art.dateFinBesoin)}}</td>
					</tr>
				</tbody>
			</table>
			<p>{{DmdMob.liste[DmdMob.indice].observation}}</p>
			<p>
	      </div>
	      <div class="modal-footer">
	        <button *ngIf="DmdMob.chargeStatutChange == false" (click)="validerEtatDmdMob()" type="button" class="btn" [ngClass]="{'btn-primary': DmdMob.etatAchange}">Valider le changement</button>
	        <div *ngIf="DmdMob.chargeStatutChange" class="loader"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- MODAL DETAIL DEMANDE REPARATION MOBILIER -->
	<div #modalDetailRepMob class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	  <div *ngIf="DmdRepMob.liste[DmdRepMob.indice] != undefined" class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">Référence: {{DmdRepMob.liste[DmdRepMob.indice].reference}}</h6>
	        <button *ngIf="DmdRepMob.chargeStatutChange == false" type="button" class="close" (click)="fermeDetailRepMob()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<span class="dmd-modal-date">{{avoirDate(DmdRepMob.liste[DmdRepMob.indice].dateDmdRep)}}</span>
	      	<div class="form-group">
				<label>Service</label>
				<input type="text" value="{{DmdRepMob.liste[DmdRepMob.indice].refService}}" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Demandeur</label>
				<input type="text" value="{{DmdRepMob.liste[DmdRepMob.indice].refIndividu}}" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Article</label>
				<input class="text" value="{{DmdRepMob.liste[DmdRepMob.indice].nomArticle}}" class="form-control" readonly="true">
			</div>	
			<div class="form-group">
				<label>Statut</label>
				<select [(ngModel)]="DmdRepMob.nouveauEtat" [value]="DmdRepMob.nouveauEtat" (change)="etatDmdChange('DmdRepMob')" class="form-control custom-select">
					<option *ngFor="let etat of DmdRepMob.listeEtat" value="{{etat.idEtatDmd}}">{{etat.libelle}}</option>
				</select>
			</div>
			<p>{{DmdRepMob.liste[DmdRepMob.indice].motif}}</p>
	        <img *ngFor="let piece of DmdRepMob.pieces" class="pj-dans-modal" src="{{piece.file}}">
	      </div>
	      <div class="modal-footer">
	        <button *ngIf="DmdRepMob.chargeStatutChange == false" (click)="validerEtatDmdRepMob()" type="button" class="btn" [ngClass]="{'btn-primary': DmdRepMob.etatAchange}">Valider le changement</button>
	        <div *ngIf="DmdRepMob.chargeStatutChange" class="loader"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- MODAL DETAIL DEMANDE ENTRETIENT BATIMENT -->
	<div #modalDetailBat class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	  <div *ngIf="DmdBat.liste[DmdBat.indice] != undefined" class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">Référence: {{DmdBat.liste[DmdBat.indice].reference}}</h6>
	        <button *ngIf="DmdBat.chargeStatutChange == false" type="button" class="close" (click)="fermeDetailBat()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<span class="dmd-modal-date">{{avoirDate(DmdBat.liste[DmdBat.indice].date)}}</span>
	      	<div class="form-group">
	      	</div>
	      	<div class="form-group">
				<label>Service</label>
				<input value="{{DmdBat.liste[DmdBat.indice].refService}}" type="text" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Demandeur</label>
				<input value="{{DmdBat.liste[DmdBat.indice].refIndividu}}" type="text" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Site</label>
				<input value="{{DmdBat.liste[DmdBat.indice].refSite}}" type="text" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Type d'entretient</label>
				<input value="{{avoirSpeBat('listeType','idTypeEntrBat',DmdBat.liste[DmdBat.indice].idTypeEntrBat)}}" type="text" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Caractéristique</label>
				<input value="{{avoirSpeBat('listeCaract','idCaractEntrBat',DmdBat.liste[DmdBat.indice].idCaractEntrBat)}}" type="text" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Enumération</label>
				<input value="{{avoirSpeBat('listeEnum','idEnumEntrBat',DmdBat.liste[DmdBat.indice].idEnumEntrBat)}}" type="text" class="form-control" readonly="true">
			</div>
			<div class="form-group">
				<label>Statut</label>
				<select [(ngModel)]="DmdBat.nouveauEtat" [value]="DmdBat.nouveauEtat" (change)="etatDmdChange('DmdBat')" class="form-control custom-select">
					<option *ngFor="let etat of DmdBat.listeEtat" value="{{etat.idEtatDmd}}">{{etat.libelle}}</option>
				</select>
			</div>
			<p>{{DmdBat.liste[DmdBat.indice].motif}}</p>
			<p>
	        <img *ngFor="let piece of DmdBat.pieces" class="pj-dans-modal" src="{{piece.file}}">
	      </div>
	      <div class="modal-footer">
	        <button *ngIf="DmdBat.chargeStatutChange == false" (click)="validerEtatDmdBat()" type="button" class="btn" [ngClass]="{'btn-primary': DmdBat.etatAchange}">Valider le changement</button>
	        <div *ngIf="DmdBat.chargeStatutChange" class="loader"></div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>
