<div class="container-fluid" id="service">
  <h1 class="my-4 titre_service_h1">LES SERVICES A LA CNaPS</h1>
  <div class="row">
    <div class="col-xs-12 col-md-1 col-sm-12"></div>
    <div class="col-xs-12 col-md-2 col-sm-12 div_service">
      <div class="card h-100 content_service">
        <h4 class="card-header titre_service1">Compte employeur</h4>
        <div class="card-body">
          <ul class="menu-service">
            <li>
              <a (click)="connexionPers()">Adresse</a>
            </li>
            <li>
              <a (click)="connexionPers()">Compte bancaire</a>
            </li>
            <li>
              <a (click)="connexionPers()">Responsable</a>
            </li>
            <li>
              <a (click)="connexionPers()">DE/DD</a>
            </li>
            <li>
              <a (click)="connexionPers()">DN</a>
            </li>
            <li>
              <a (click)="connexionPers()">Situation compte</a>
            </li>
            <li>
              <a (click)="connexionPers()">Historique DN</a>
            </li>
            <li>
              <a (click)="connexionPers()">Liste des employés</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 col-sm-12 div_service">
      <div class="card h-100 content_service">
        <h4 class="card-header titre_service2">Compte travailleur</h4>
        <div class="card-body">
          <ul class="menu-service">
            <li>
              <a (click)="connexionPers()">Adresse</a>
            </li>
            <li>
              <a (click)="connexionPers()">Compte bancaire</a>
            </li>
            <li>
              <a (click)="connexionPers()">Historique salaires</a>
            </li>
            <li>
              <a (click)="connexionPers()">DE/DD</a>
            </li>
            <li>
              <a (click)="connexionPers()">IJ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 col-sm-12 div_service">
      <div class="card h-100 content_service">
        <h4 class="card-header titre_service3">Prestations familiales</h4>
        <div class="card-body">
          <ul class="menu-service">
            <li>
              <a (click)="connexionPers()">Indemnité journalière</a>
            </li>
            <li>
              <a (click)="connexionPers()">Allocation familiale</a>
            </li>
            <li>
              <a (click)="connexionPers()">Allcoation prénatale</a>
            </li>
            <li>
              <a (click)="connexionPers()">Allocation de matérnité</a>
            </li>
            <li>
              <a (click)="connexionPers()">Allocations spéciales</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 col-sm-12 div_service">
      <div class="card h-100 content_service">
        <h4 class="card-header titre_service4">Accident de travail et Maladies professionnelles</h4>
        <div class="card-body">
          <ul class="menu-service">
            <li>
              <a (click)="connexionPers()">Déclaration ATMP</a>
            </li>
            <li>
              <a (click)="connexionPers()">Demande attestation</a>
            </li>
            <li>
              <a (click)="connexionPers()">Demande IJ/AT</a>
            </li>
            <li>
              <a (click)="connexionPers()">Remboursement FM</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 col-sm-12 div_service">
      <div class="card h-100 content_service">
        <h4 class="card-header titre_service5">Pensions</h4>
        <div class="card-body">
          <ul class="menu-service">
            <li class="li_pen">
              <a class="style_href" data-toggle="collapse"  href="#OD_LISTE" aria-expanded="false" aria-controls="collapseDroit" >Ouverture droit</a>
              <ul class="collapse" id="OD_LISTE">
                <li> <a (click)="connexionPers()" > Droit ASVT </a></li>
              </ul>
            </li>
            <li>
              <a (click)="connexionPers()">Demande attestation</a>
            </li>
            <li>
              <a (click)="connexionPers()">Transfert cotisation</a>
            </li>
            <li>
              <a (click)="connexionPers()">Demande Rappel</a>
            </li>
            <li>
                <a (click)="connexionPers()">Demande Révision</a>
            </li>
            <li>
                <a (click)="connexionPers()">Demande Réversion</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-1 col-sm-12"></div>
  </div>
</div>