<app-banniere></app-banniere>
<app-menu-centre></app-menu-centre>
<app-info-personnes></app-info-personnes>

<div class="container-fluid">
  <div class="col-sm-12 content_page">
    <div class="row titre_page">
      <h4>Détails du livre</h4>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
            <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="width:100%">

          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Titre</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                La pratique professionnelle de communication
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Auteur</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Gloria Awad
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Editeur</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                L'Haamattan
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-12 col-form-label texte-content"> Résumé</label>
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro
                firmatum, ubi conduntur nunc usque commeatus distribui militibus omne latus Isauriae defendentibus
                adsueti. circumstetere igitur hoc munimentum per triduum et trinoctium et cum neque adclivitas ipsa sine
                discrimine adiri letali, nec cuniculis quicquam geri posset, nec procederet ullum obsidionale commentum,
                maesti excedunt postrema vi subigente maiora viribus adgressuri.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-8">
        <div class="form-group row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-info btn-block">Modfier cet ouvrage</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-danger btn-block">Supprimer cet ouvrage</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>
