<app-banniere></app-banniere>
<app-info-agents></app-info-agents>

<div class="container-fluid">
	<div class="col-sm-12 content_page">
		<div class="row titre_page">
	      <h4>SECURITES</h4>
		</div>
		<!-- MENU -->
		<div class="conteneur-de-menu">
			<ul class="menu1">
				<li (click)="clickInMenu1('sec-visiteur')"><span>VISITEURS</span></li>
				<li (click)="clickInMenu1('sec-acces')"><span>ACCES WEEKEND / JOURS FERIES</span></li>
				<li class="menu1-active"><span>AGENTS</span></li>
				<li (click)="clickInMenu1('sec-sys')"><span>SYSTEME DE SECURITE</span></li>
			</ul>
		</div>

	    <div class="conteneur-de-menu2">
			<ul class="menu1">
				<li (click)="clickSousMenu('liste')" [ngClass]="{'menu1-active': Menu.sousMenu == 'liste'}"><span>LISTE</span></li>
				<li (click)="clickSousMenu('rotation')" [ngClass]="{'menu1-active': Menu.sousMenu == 'rotation'}"><span>PLANNING DE ROTATION</span></li>
				<li (click)="clickSousMenu('conge')" [ngClass]="{'menu1-active': Menu.sousMenu == 'conge'}"><span>CONGE</span></li>
			</ul>
		</div>
		<!-- FIN MENU -->

		<div class="row" style="padding: 10px;">
			<!-- LISTE AGENT -->
			<div *ngIf="Menu.sousMenu == 'liste'" class="col-md-12">
				<h6 style="text-transform: uppercase;">Liste des agents</h6>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Nom/Prénom</label>
							<input [(ngModel)]="Liste.filtre.nomPrenom" (ngModelChange)="filtreChange()" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Matricule</label>
							<input [(ngModel)]="Liste.filtre.matricule" (ngModelChange)="filtreChange()" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Agence/Société</label>
							<input [(ngModel)]="Liste.filtre.nomSociete" (ngModelChange)="filtreChange()" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Statut</label>
							<select [(ngModel)]="Liste.filtre.statut" (ngModelChange)="filtreChange()" class="form-control custom-select">
								<option></option>
								<option value="1">ACTIVE</option>
								<option value="0">NON ACTIVE</option>
							</select>
						</div>
					</div>
				</div>
				<hr>
				<button (click)="saisieNouvAgent()" class="btn btn-info" style="margin-bottom: 5px;">Saisie d'un nouveau agent</button>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Matricule</th>
							<th>Téléphone</th>
							<th>Agence/Société</th>
							<th>Statut</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let a of Liste.liste; let index = index">
							<td>{{a.nom}}</td>
							<td>{{a.prenom}}</td>
							<td>{{a.matricule}}</td>
							<td>{{a.telephone}}</td>
							<td>{{a.nomSociete}}</td>
							<td>{{a.statut}}</td>
							<td>
								<button (click)="clickInfoAgent(index)" class="btn btn-info"><i class="fa fa-info"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="Liste.charge" class="loader"></div>
				<div *ngIf="Liste.liste.length == 0 && Liste.charge == false" style="text-align: center;">
					<span>Pas de résultat</span>
				</div>
				<nav *ngIf="Liste.liste.length > 0 && Liste.charge == false" aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li *ngIf="Liste.page > 1" (click)="pagePrecedent()" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-left"></i></button>
				    </li>
				    <li class="page-item disabled"><span class="page-link">Page {{Liste.page}}</span></li>
				    <li *ngIf="Liste.liste.length == Liste.ligneMax" (click)="pageSuivant()" class="page-item">
				      <button class="page-link"><i class="fa fa-angle-double-right"></i></button>
				    </li>
				  </ul>
				</nav>
			</div>
			<!-- SAISIE/MODIF AGENT -->
			<div *ngIf="Menu.sousMenu == 'saisie'" class="col-md-12">
				<h6 style="text-transform: uppercase;">{{Saisie.titre}}</h6>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nom</label>
							<input [(ngModel)]="Saisie.champ.nom" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Prénom</label>
							<input [(ngModel)]="Saisie.champ.prenom" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>CIN</label>
							<input [(ngModel)]="Saisie.champ.cin" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Matricule</label>
							<input [(ngModel)]="Saisie.champ.matricule" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Téléphone</label>
							<input [(ngModel)]="Saisie.champ.telephone" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Adresse</label>
							<input [(ngModel)]="Saisie.champ.Adresse" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>Agence/Société d'origine</label>
							<input [(ngModel)]="Saisie.champ.nomSociete" type="text" class="form-control">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>Photo</label>
							<label for="pj-photo-sec" class="form-control" style="cursor: pointer;">Choisir une photo</label>
							<input (change)="pieceChange($event)" name="piecePhoto" id="pj-photo-sec" type="file" accept="image/*" style="display: none;" />
							<img *ngIf="Saisie.photo != null" src="{{Saisie.photo}}" class="photo">
						</div>
					</div>
					<div *ngIf="Saisie.type == 'Modif'" class="col-md-12">
						<div class="form-group">
							<label>Statut</label>
							<select [(ngModel)]="Saisie.champ.statut" class="form-control custom-select">
								<option value="1">ACTIVE</option>
								<option value="0">NON ACTIVE</option>
							</select>
						</div>
					</div>
					<div class="col-sm-12">
						<button *ngIf="!Saisie.charge" (click)="retourALaListe()" class="btn">Retour à la liste</button>
						<button *ngIf="!Saisie.charge" (click)="validerSaisie()" class="btn btn-info" style="margin-left: 50px;">Valider</button>
						<div *ngIf="Saisie.charge" class="loader"></div>
					</div>
				</div>
			</div>
			<!-- PLANNING DE ROTATION -->
			<div *ngIf="Menu.sousMenu == 'rotation'" class="col-sm-12">
				<h6 style="text-transform: uppercase;">{{Saisie.titre}}</h6>
				<hr>
				<div class="form-row">
					<div class="form-group col-md-3">
						<select [(ngModel)]="Rot.mois" (change)="dateFiltreChange()" class="form-control custom-select">
							<option *ngFor="let m of Rot.listeMois; let index = index" value="{{index+1}}">{{m}}</option>
						</select>
					</div>
					<div class="form-group col-md-3">
						<input [(ngModel)]="Rot.annee" (ngModelChange)="dateFiltreChange()" type="number" class="form-control">
					</div>
					<div class="form-group col-md-3">
						<input type="submit" class="btn btn-info" value="Charger" (click)="chargerListeRot()">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ng-fullcalendar #fullcalendar [options]="calendarOptions" (eventClick)="clickEvent($event.detail.event)" (dayClick)="clickJour($event.detail.date)" (eventDrop)="dropEvent($event.detail.event)" (eventResize)="retailleEvent($event.detail.event)"></ng-fullcalendar>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL -->
	<!-- MODAL CHARGEMENT -->
	<div #modalChargement class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="loader">
		</div>
	  </div>
	</div>
	<!-- MODAL AJOUT/MODIF ROTATION -->
	<div #modalAjoutModifRot class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">{{Rot.titreModal}}</h6>
	        <button *ngIf="Rot.chargeModal == false" type="button" class="close" (click)="fermeModalRot()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div class="row">
	      		<div class="col-md-12">
	      			<div *ngIf="Rot.typeAction == 'a'" class="form-group">
	      				<label>Type</label>
	      				<select [(ngModel)]="Rot.typeChamp" class="form-control custom-select">
	      					<option value="s">EN SERVICE</option>
	      					<option value="c">EN CONGE</option>
	      				</select>
	      			</div>
	      		</div>
	      		<div class="col-md-6">
	      			<label>Date début</label>
	      			<div class="row">
	      				<div class="col-6">
	      					<input [(ngModel)]="Rot.champ.dateDebut" type="date" class="form-control">
	      				</div>
	      				<div *ngIf="Rot.typeChamp == 's'" class="col-3">
	      					<input [(ngModel)]="Rot.champ.heureDebut" type="text" class="form-control">
	      				</div>
	      			</div>
	      		</div>
	      		<div class="col-md-6">
	      			<label>Date fin</label>
	      			<div class="row">
	      				<div class="col-6">
	      					<input [(ngModel)]="Rot.champ.dateFin" type="date" class="form-control">
	      				</div>
	      				<div *ngIf="Rot.typeChamp == 's'" class="col-3">
	      					<input [(ngModel)]="Rot.champ.heureFin" type="text" class="form-control">
	      				</div>
	      			</div>
	      		</div>
	      	</div>
	      	<hr>
    			<div class="form-group">
    				<label>Matricule(s) agent(s)</label>
    				<p style="font-size: 12px; opacity: 0.85;">Séparez les matricules par des virgules si plusieurs agent seront dans la même condition</p>
    				<input [(ngModel)]="Rot.champ.matricules" type="text" placeholder="MATRICULE_1, MATRICULE_2, ..." class="form-control" [disabled]="Rot.typeAction == 'm'">
    			</div>
    			<div *ngIf="Rot.typeChamp == 's'" class="form-group">
    				<label>Site</label>
    				<div class="row">
    					<div class="col-11">
		    				<ngx-select [(ngModel)]="Rot.champ.idLoc" (typed)="ngxTexteSiteChange($event)" [items]="Rot.ngxSite"></ngx-select>
		    			</div>
    					<div class="col-1">
    						<button (click)="ouvreModalSite()" class="btn btn-info"><i class="fa fa-plus"></i></button>
    					</div>
    				</div>
    			</div>
	      </div>
	      <div class="modal-footer">
	        <button *ngIf="Rot.chargeModal == false && Rot.typeAction == 'a'" (click)="validerRotOuCon()" type="button" class="btn btn-info">Valider l'insertion</button>
	        <button *ngIf="Rot.chargeModal == false && Rot.typeAction == 'm'" (click)="validerModifRotOuCon()" type="button" class="btn btn-info">Valider la modification</button>
	        <div *ngIf="Rot.chargeModal" class="loader"></div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- MODAL AJOUT SITE -->
	<div #modalAjoutSite class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title">Insertion de nouveau Site</h6>
	        <button *ngIf="Site.chargeModal == false" type="button" class="close" (click)="fermeModalSite()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div class="form-group">
	      		<label>Province</label>
	      		<select [(ngModel)]="Site.champ.idProv" (change)="provinceChange()" class="form-control custom-select">
	      			<option *ngFor="let p of Site.provinces" value="{{p.idProv}}">{{p.libelle}}</option>
	      		</select>
	      	</div>
	      	<div class="form-group">
	      		<label>Région</label>
	      		<select [(ngModel)]="Site.champ.idReg" class="form-control custom-select">
	      			<option></option>
	      			<option *ngFor="let r of Site.regions" value="{{r.idReg}}">{{r.libelle}}</option>
	      		</select>
	      	</div>
	      	<div class="form-group">
	      		<label>Commune</label>
	      		<input [(ngModel)]="Site.champ.libelleCommune" matInput [formControl]="Site.fComControl" [matAutocomplete]="auto" type="text" class="form-control">

						<mat-autocomplete #auto="matAutocomplete">
						  <mat-option *ngFor="let option of Site.comOptions" [value]="option">{{option}}</mat-option>
						</mat-autocomplete>
	      	</div>
	      	<div class="form-group">
	      		<label>Site</label>
	      		<input [(ngModel)]="Site.champ.libelleLoc" type="text" class="form-control" placeholder="Libellé">
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button *ngIf="Site.chargeModal == false" (click)="enregistreSite()" type="button" class="btn btn-info">Valider</button>
	        <div *ngIf="Site.chargeModal" class="loader"></div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<app-historique-indiv></app-historique-indiv>
<app-lien-foot></app-lien-foot>