<div class="container-fluid">
  <ul class="autres_liens">
    <li><a href="#" class="autres_liens_a"><span class="fa fa-link autres_liens_span"></span><br><br>LIENS&nbsp;INUTILES</a></li>
    <li><a href="#" class="autres_liens_a"><span class="fa fa-calculator autres_liens_span"></span><br><br>COTISATION</a></li>
    <li><a href="#" class="autres_liens_a"><span class="fa fa-sitemap autres_liens_span"></span><br><br>ORGANIGRAMME</a></li>
    <li><a href="#" class="autres_liens_a"><span class="fa fa-comment autres_liens_span"></span><br><br>FOIRE AU QUESTION</a></li>
  </ul>
</div>
