<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header connexion_image">
          <img src="../../assets/img/logo2.png" class="img-responsive">
          <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Matricule</label>
            <input type="text" [(ngModel)]="identifiant" name="identifiant" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Entrer le matricule">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mot de passe</label>
            <input type="password" [(ngModel)]="pass" name="pass" class="form-control" id="exampleInputPassword1"
                   placeholder="Mot de passe">
          </div>
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="agent" name="agent" id="agent">&nbsp;<label style="margin-bottom: 0px;" for="agent">Agent CNaPS</label>
          </div>
        </div>
        <div class="modal-footer">
          <div *ngIf="!show" class="container-fluid connex_boutton">
            <button (click)="onLoginCLick()" type="button" class="btn btn-info">
              Valider
            </button>
          </div>
          <div *ngIf="show" class="container-fluid connex_boutton">
            <div class="loader"></div>
          </div>
          &nbsp;
        </div>
        <div class="modal-footer">
          <input type="checkbox" name="souvernir" id="souvenir" checked>&nbsp;<label style="margin-bottom: 0px;" for="souvenir">Se souvenir de moi</label>
        </div>
        <div class="modal-footer">
          <a (click)="onClickDimm()" class="lien-dimm"><span class="fa fa-arrow-right"></span>&nbsp;Faire une demande d'immatriculation&nbsp;<span class="fa fa-arrow-left"></span></a>
        </div>
        <div class="modal-body">
          <div class="notification_login" [ngClass]="{'alert-success': isAuth==true, 'alert-danger': isAuth == false}">{{message}}</div>
        </div>
      </div>
  </div>
</div>
